[2013-03-05 23:44] sharwell opened #1 "Improve error message when Java is not installed"

[2013-03-12 01:45] robertical opened #2 "Antlr4BuildTasks.dll errors detecting Java path install in Windows x64 Registry"
Antlr4BuildTasks.dll was failing to load the Java install path from registry.

I've finally found what reason was and I've got a fix that you can include in your code.
The problem is that there are 2 ways of accesing the Registry, in 32bits or 64 bits mode. Some keys are stored in one and some in the other.

You were using RegistryView.Default as access mode and it couldn't find the full path (I'v

[2013-03-12 03:40] #2 closed, assigned to sharwell

[2013-03-12 03:41] sharwell opened #3 "Support running the RuleDependencyChecker as a post-build action"
The Java version of the tool includes [`RuleDependencyProcessor`](https://github.com/sharwell/antlr4/blob/optimized/runtime/Java/src/org/antlr/v4/runtime/misc/RuleDependencyProcessor.java), an annotation processor that statically validates the accuracy of the [rule dependency annotations](https://github.com/sharwell/antlr4/wiki/Rule-Versioning) used throughout Java code. This processor produces co

[2013-05-06 12:01] Virtlink opened #4 "When parser rule name is C# keyword, generated parser breaks"
When the parser rule name happens to be a C# keyword, the generated XParser.cs file breaks. It contains reserved keywords as method names, and won't compile.

Grammar that demonstrates the problem:

[code]

[2013-05-06 13:35] Virtlink opened #5 "Including grammar with only fragments breaks generated lexer"
A grammar that contains only fragments (e.g. a file with only Unicode character classes in it) breaks the generated lexer. Putting just one (useless or overridden) rule in it fixes this.

Grammars to demonstrate the problem:

[code]

&nbsp;

[code]

[2013-05-07 18:22] #5 closed, assigned to sharwell

[2013-05-16 17:28] joes-codez opened #6 "Antlr4ClassGenerationTask fails when there are spaces in file paths"
MSBuild task Antlr4ClassGenerationTask doesn't handle spaces in file paths.

When building my project at C:\Users\Admin\Documents\Visual Studio 2012\Projects\Compiler\CompilerV4\CompilerV4.csproj

I see the build error:

Error   1   Unknown build error: Could not find or load main class Studio

The project will only compile if relocated to a path with no spaces.

[2013-06-05 21:00] st4l opened #7 "tokens file is searched for in wrong path with option tokenVocab=SBLexer;"
To reproduce:
g4 files in project subfolder, e.g. < ProjectRoot >\Antlr

parser grammar SBParser;
options { tokenVocab=SBLexer; }

Error   2   cannot find tokens file 'obj\Debug\SBLexer.tokens'

The cs and tokens files are generated in folder obj\Debug\Antlr

Workaround: need to copy the file to that folder in order for the solution to build, need to remember this if one comes back to the projects

[2013-06-28 20:36] catshow opened #8 "how do you use this thing from the command line"

[2013-06-28 20:41] #8 closed, assigned to sharwell

[2013-07-01 17:06] ghost opened #9 "compile time error on Recognizer.AddErrorListener"
i'm able to add a custom error listener (derived from BaseErrorListener ) to my parser and it functions as expected at run time.

but get I am getting a compile time error trying to add a listener to the lexer.

Given that the "AddErrorListener" method is defined on the base recognizer and thus identical for both the parser and the lexer I find this more than a little confusing.

"cannot convert f

[2013-07-01 22:22] #9 closed, assigned to nobody

[2013-07-10 00:06] joalcorn opened #10 "CLS Compliance"
It would be nice if the generated code was fixed to be CLS compliant.

Some examples of areas that are not CLS compliant are:
- generated properties and their backing fields whose name differs only by case
- type names with non alpha-num characters (token type names end with parenthesis)
- public members with a _ as the initial identifier's character

[2013-07-10 00:14] joalcorn opened #11 "Follow Visual Studio conventions for generated code."
In holding with convention (that a lot of static analysis and style analyzers use) generated code files should be started with one of the following comment blocks:

[code]

[code]

Also, generated code should have the filename "filename.g.cs"

These two things are key to allowing static analysis tools to ignore tool generated code.

[2013-07-10 20:41] sbiaudet opened #12 "Combined1.g4(1,1): error AC0050: '´' came as a complete surprise to me"
When I compile a simple g4 file, I've this error on line 1 caracter 1 ???

Combined1.g4(1,1): error AC0050: '´' came as a complete surprise to me

Example :

[code]

I don't know where is the problem ?

[2013-07-12 03:21] #12 closed, assigned to sharwell

[2013-07-18 10:33] fraschfn opened #13 "Constants named differently than in Java target"
The constants for the EOF token and the HIDDEN channel are named "Eof" and "Hidden" in C# as opposed to "EOF" and "HIDDEN" in Java.

I'm using antlr4-csharp-4.0.1-SNAPSHOT-complete.jar

[2013-07-18 11:22] #13 closed, assigned to sharwell

[2013-07-27 19:23] joelverhagen opened #15 "When parser rule collides with ParserRuleContext member compilation fails"
I was playing around with the [WebIDL grammer](https://github.com/antlr/grammars-v4/blob/master/webidl/WebIDL.g4). After applying the patch prescribed by #13, I was still having problems:

[code]

Causing the first message (warning):
[code]

To me, it seems this generated `exception()` method should be given a different name, since it collides with the `exception` member on `Antlr4.Runtime.ParserR

[2013-07-31 01:43] bgourlie opened #16 "Unable to build project"
mvn fails with:

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building ANTLR 4 Target C# 4.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[WARNING] The POM for com.tunnelvisionlabs:antlr4:jar:4.0.1-SNAPSHOT is missing,
 no dependency information available
[INFO] ----------

[2013-07-31 02:25] #16 closed, assigned to nobody

[2013-08-02 19:11] bgourlie opened #17 "Generated method in Lexer class is a Java method"
I've successfully generated the parser/lexer classes by following the directions in the readme.  The Lexer class fails to compile.  For the most part, the class is C# code, except for the following functions:

[code]

[2013-08-02 19:18] #17 closed, assigned to sharwell

[2013-08-05 03:24] #6 closed, assigned to sharwell

[2013-08-05 05:39] andrevdm opened #19 "ATNSimulator deserialization errors"
Hi Sam,

I'm getting deserialization errors in the ATNSimulator. The first is saying that it is expecting version 3 but getting version 5

In commit f74aabfac8f42c320f578dc86f84509132bc9614 (update to match 4.1) you changed the SerializedVersion const from 5 to 3.

If I change it to 5 I then get an error with the expected GUID.

Was there a merge issue or perhaps a newer version of the JAR?

Thank

[2013-08-05 11:34] #19 closed, assigned to sharwell

[2013-08-05 11:48] #7 closed, assigned to sharwell

[2013-08-05 23:47] #1 closed, assigned to sharwell

[2013-08-06 01:40] #11 closed, assigned to sharwell

[2013-08-06 02:11] #4 closed, assigned to sharwell

[2013-09-12 01:05] vantheshark opened #25 "Xml comments in Visitor classes are not accurate"
This is the generated visitor class.
I'm using Antlr4.Runtime.4.1.0-alpha003\lib\net40\Antlr4.Runtime.v4.0.dll

[code]

The
    &lt;see cref="UfqParser.setAtom"/&gt;.

is not accurate, there is not such thing like setAtorm on my generated UfqParser class

It's just a minor issue as it causes several xml warning when I build the project

[2013-09-14 16:21] exKAZUu opened #26 "Can't get the token name from XXXLexer.ruleNames with ITerminalNode.Symbol.Type"
I wrote the following code.
But it can't show a correct token name if the lexer has fragment tokens.
It seems that the ruleNames field includes fragment tokens but the Type field, which derives from constant integers on the head of the lexer class, excludes them.
How can I get a correct token name?

[code]

[2013-09-14 21:30] #26 closed, assigned to sharwell

[2013-09-16 17:09] exKAZUu opened #28 "ANTLR 4 C# (4.1.0-alpha003) with java.g4 shows warnings when parsing hex numbers"
When a parser generated by ANTLR 4 C# (4.1.0-alpha003) with java.g4 parses the following Java code, it shows the following warnings.
However, a parser generated by ANTLR 4 Java 4.1 with java.g4 doesn't show them.
- Java code

[code]
- Warnings

[code]

[2013-09-24 16:17] hcjian opened #29 "Type initializer exception when creating Lexer"
Hi, I am using ANTLR4.0 with C# target for a simple calculator grammar, everything is OK for generating the C# code, e.g. Lexer, parser, listener, vistor... But when start paring in the following code I got exception when creating the CalculatorLexer:

[code]

The Exception information is as follows:

[code]

Anybody can help?
Thanks

[2013-09-24 17:53] #29 closed, assigned to sharwell

[2013-10-04 01:37] hcjian opened #30 "Semantic Predict in Ambiguous assignment statement"
Hi, I am trying to implement a C-like language with some extensions for other data types.

[code]

The issue is when parsing a simple assignment like the following:

[code]

Note that my language only have two data types: `double` and `schedule` and no variable declaration is required. From the code script above, variable (symbol) `g` is a `double` type when it is first assigned a `double` value.

[2013-10-04 01:55] #30 closed, assigned to nobody

[2013-10-10 03:34] exKAZUu opened #31 "ANTLR 4 C# (4.1.0-alpha003) accepts some code differently from ANTLR 4.1 Java"
When I wrote Lua grammar, I encountered strange behavior.
I created the minimum grammar where I can cause the behavior.

[code]

Then, I wrote some tests as follows.

[code]

The test shows the following debug message. `exp` wrongly occurs twice on the same depth without `,`.

[code]

However, a parser with ANTLR 4.1 Java shows the following debug message.

[code]

[2013-10-10 04:09] #31 closed, assigned to nobody

[2013-12-03 21:51] verybadcat opened #33 "ANTLR + Xamarin?+Windows Phone"
I have been looking into using ANTLR in a Xamarin project, targeting Windows Phone, iOS, and Android.  I found your ANTLR Runtime PCL here.  But alas, it appears it uses classes that are not supported on Windows Phone (at a minimum, ConcurrentDictionary and SortedDictionary.)  So it appears I can't use this to target Windows Phone, at least not without changes.

William Jockusch

[2014-01-06 17:36] ericschultz opened #35 "Undocumented Build process"
I'm not entirely clear how to build my own version of the NuGet packages to work around bugs. I think it involves running mvn but otherwise I'm unsure. Are there any sort of instructions?

[2014-01-07 01:43] quietpixel opened #36 "iOS does not allow JIT compilation -- happens in the Sharpen utilities"
I've been working to integrate antlr4cs into a Unity3D project to run on iOS.  Several of the classes in the Sharpen namespace rely on Just-in-Time compilation of generic types.  Apple forbids using JIT compilation as a safety concern, and more likely, because it would allow developers to go around the App Store, and cut Apple out of the revenue stream.

Since Unity uses .NET v3.5, I have to use t

[2014-01-14 19:41] tsharp opened #37 "Unable To Retrieve The Text Of The Current Token From The Context"
I've been working on implementing a test grammar loosely based on SQL and i've been attempting to retrieve text of tokens - the documented way (according to the book) that I'm seeing in Java versions is within the Listener -

[code]

The first output does not output the identifier but the second output using the parser does ... is there something I'm missing here?

[code]

[2014-01-24 04:45] #37 closed, assigned to nobody

[2014-02-07 00:19] andr1972 opened #38 "I search ANTLR support for Mono"
I want write parser in Mono. It is possible migrate from NET to Mono with this sources? Which source changes I must do?

[2014-02-19 00:00] #28 closed, assigned to sharwell

[2014-04-02 18:56] exKAZUu opened #39 "EOF token has a wrong value of the Column property"
I use ANTLR 4.2.1-alpha001.
When the last token (which is not hidden) has a not zero Column, the EOF token has the same Column value of the last token.
For example, when we parse the following C code, ANTLR 4 generates an EOF token with 1 Column value, but, it should have 0 Column value.

[code]

[2014-04-20 17:49] archfrog opened #41 "How to use ANTLR4CS without Visual Studio?"
I am a Java newbie and just want to use ANTLR4+CS for a small test project which might eventually grow into something big.

I don't use Visual Studio and have no plans to alter my habits in that regard.  So how do I actually get a working ANTLR4+CS combo given the set of files available on both websites?

On the same note, why don't you simply include the most recent ANTLR4CS in the official distr

[2014-04-24 17:32] Samscore opened #42 "Templates not available in VS 12, Code Generation defective, Examples out of date"
1) the most bad one first: All c# examples of the final usage of the generated lexer, parser and listener/walker are out of date. They use properties and methods which are not present any more

2) VS 12 with Update 4: No ANTLR Templates available after installation (can also be reached by uninstall ANTLR and reinstall...)

3) Code Generation is not recognized by IntelliSense. Errors are displayed

[2014-04-24 18:55] #42 closed, assigned to nobody

[2014-04-27 04:50] thany opened #43 "Something isn't working"
I did step 1 to 5:
https://github.com/tunnelvisionlabs/antlr4cs/wiki

All perfect. Successful. No errors. Like a kitten.

Then, I imported a set of *.g files that someone else made. I verified their properties:
Build Action = Antlr3
Copy to output = Do not copy
Custom Tool = MSBuild:Compile
Custom Tool Namespace = MyCoolTool.Grammar
Debug Grammar = False
Language Target = (not set)
Profile Grammar

[2014-04-27 04:56] #43 closed, assigned to nobody

[2014-04-28 16:19] Benlitz opened #47 "Accessing Text property from predicates"
The Text property ($a.getText() in Java) seems to be unusable with antlr4cs.
Having the following grammar:

[code]

When I build the project I have the following error:

[code]

This looks like a bug (unless I'm doing something wrong ofc)

[2014-04-28 20:11] #47 closed, assigned to nobody

[2014-05-27 19:56] miltchev opened #48 "Copyleft issue in Antlr 4 C# target"
While going over the distribution license  we noticed that a file in the source tree for the C# target has a viral license attached to it, as opposed to the BSD license for the overall ANTLR project. The file in question is:

https://github.com/tunnelvisionlabs/antlr4cs/blob/master/runtime/CSharp/Antlr4.Runtime/Sharpen/CRC32.cs

The license on this file is GPL v2  and it looks like it originated f

[2014-06-04 05:05] raselneck opened #49 "'Text' isn't a valid property"
I'm following along with [Scott Stanchfield's tutorials](http://javadude.com/articles/antlr3xtut/) to help me re-learn Antlr, and I'm having some issues almost immediately.

My entire grammar is (essentially) as follows:

[code]

I'm getting an error whenever I build that says `'Text' isn't a valid property in '$id.Text'`.

The error can be avoided by changing the property to the method `GetText()

[2014-06-04 12:04] #49 closed, assigned to nobody

[2014-06-18 12:34] yetanotherchris opened #50 "toStringTree() and \n"
I'm running the Definitive Antlr 4 Expr example, but get extra \n in toStringTree. I've worked around it by replacing `\\n` to `\n`, which appears to be the problem:

[code]

[2014-07-01 04:24] #48 closed, assigned to sharwell

[2014-07-01 05:01] #25 closed, assigned to sharwell

[2014-07-03 03:56] #33 closed, assigned to nobody

[2014-08-22 02:28] marhoily opened #68 "Resharper support"
You have already answered to this:

But there 2 issues:
a) be real. if I have to choose what saves more of my time antlr or resharper...
b) there's enormous amount of code-generating plug-ins. MS native: T4, XSD, setting files, winForms designer. And that is only what immediately comes to mind. And they all are supported by resharper.

Actually it's quite obvious where you'd gone wrong. You should

[2014-08-22 09:34] #68 closed, assigned to nobody

[2014-08-25 14:12] scrubs767 opened #69 "issue with lexer rule orderering"
I have run into a problem where the order of mh lexer rules is not being followed, I have tried my grammer in both antlrworks test rig and a command line application, but the following produces different tokens between the two:

[code]

in the c# version, the HEADER rule never produces a token, but in antlrworks it does

[2014-08-25 18:26] #69 closed, assigned to nobody

[2014-08-25 19:57] nickdurcholz opened #70 "feature request: usability improvements for antlr4 language support + antlr4 build task"
While working on a project that includes a grammar, I've been struggling a bit with the way that the nuget package wires everything up out-of-the-box.  Everything seems to work correctly on the antlr side and the final result compiles and works.

However, when I try to create partial classes to add some functionality to my parser and visitor, Visual Studio shows me a compile error for every single

[2014-08-25 22:42] #70 closed, assigned to nobody

[2014-08-26 10:35] cyril-- opened #71 "Erroneous extraneous input detected in C# (but not in Java)"
Hello,

I'm afraid I found a bug in Antlr4 CS 4.3.0. Using the same grammar and the same input stream, the parsing succeeds in Java but fails in C# ("extraneous input"). The traces show that the C# version consumes all the left brackets in a row, and then complains about a right bracket. The Java version works as expected.

Here is my grammar:

[code]

And my test program (C#), showing the input s

[2014-09-08 12:27] EvgeniyKo opened #72 "C# compiler can't compile generated lexer"
CSC gives me following error without name of the file, line and column, only project name:

[code]

I found the reason for this error:

https://connect.microsoft.com/VisualStudio/feedback/details/785173/got-error-cs1647-an-expression-is-too-long-or-complex-to-compile-in-vs2012

There is a huge string in generated lexer, over 5000 lines, which looks like this:

[code]

Any workaround would be very

[2014-09-16 12:34] stiofanmacthomais opened #73 "Can't find classes in VS2013 Professional"
Sorry to bother you all with such a noob question.  I've installed Antlr4 in VS2013, created a simple grammar and built the solution. I've aloso verified that the support files are generated in .\obj\Debug folder.  All looks well and I'm ready to use this code in my own test application. Anltr4.Runtime.net45 is in my references (no other references to Antlr content). However, when I declare...

[c

[2014-09-16 13:06] #73 closed, assigned to nobody

[2014-09-26 14:55] GothikX opened #74 "<assoc=right> not generating the correct precedence"
I'm not an expert with Antlr so it's entirely possible I'm doing something wrong, but given the standard example:

[code]

2^2^2 is parsed as (2^2)^2 instead of 2^(2^2): `([] ([0] ([0 0] 2) ^ ([7 0] 2)) ^ ([7] 2))`

[2014-09-26 17:48] #74 closed, assigned to nobody

[2014-10-03 03:01] MBulli opened #75 "ParseRuleContext start and stop value possibly swapped if rule empty"
Hi,

in my production codebase I noticed a strange behavior which breaks my calculation of the text span length of a given ParseRuleContext. I isolated the problem in this grammer:

[code]

If I run it with a small Visitor like this:

[code]

It produces the following output. Notice how the start and stop property are in reverse order if `middle` matches an empty string.
I would expect that the sp

[2014-10-03 03:11] #75 closed, assigned to nobody

[2014-10-06 13:36] xanathar opened #76 "@leftfactor creates tokens with dollar signs in the generated parser"
I tried specifying `@leftfactor{rulename}` in a grammar and some invalid tokens are generated in the xxxParser.cs:

[code]

doing a simple text replace of `var$lf$rule` in `var_lf_rule` and `var$nolf$rule` in `var_nolf_rule` solves the issue until the next regeneration of the grammar [so, not a showstopper].

[2014-11-04 19:38] Terry1511512 opened #79 "Major performance issue"
I have with channels but also applies to anywhere there are a large number of tokens.

I'm using C# and have made it a 64bit program. I have a 90k test text file and I try and push any text outside a tag or inside a "literal" tag into a text channel.

The test text file look roughly like:

[code]

A summarised version of the grammar is:

[code]

The problem is that on a fast I7 processor it takes

[2014-11-04 21:57] #79 closed, assigned to nobody

[2014-11-06 02:26] Terry1511512 opened #80 "ANTLR4 not showing in Add New Items in Visual Studio 2013"
I've just upgrade to Visual Studio 2013 Professional from 2010 and I find that ANTLR4 won't show in the Add New Items dialogue. I used NuGet to install ( and uninstall ) it many times it and I've tried both the stable version and pre-release version and both will not show. If I open and existing 2010 project that already uses ANTLR the properties of both the lexer and parser are the default Micros

[2014-11-06 02:56] #80 closed, assigned to nobody

[2014-11-23 12:15] stevecooperorg opened #84 "Can ANTLR lexers/parsers be used for VS syntax highlighting and Error List?"
Hi -- I'm using Antlr4cs and it's working beautifully; apologies if this is the wrong place to post!

I'm happily developing a language and I'd like to start integrating my language into an IDE. The natural place for me feels like integrating it into Visual Studio. It occurs to me that someone might have figured out a general way to plug an ANTLR lexer into the Visual Studio syntax highlighting sy

[2014-12-02 14:40] GaryPickrell opened #86 "C# results don't match Java results for simple grammar"
I have a simple grammar.  The C# version prints the message:

line 1:6 mismatched input 'parr' expecting ID

Even though it should match 'parr' to an ID.  I've create a gist with all the files.

https://gist.github.com/GaryPickrell/06f4ae5d6e4a5d7596c7

[2014-12-02 15:56] #86 closed, assigned to sharwell

[2014-12-15 13:48] xanathar opened #87 "Question about redistribution of different packages"
I'm writing an open source library using ANTLRcs as it's lexer/parser generator. This library is, in-turn, used by other libraries in the same solution (a remote debugger facility) and this might even expand more in the future. It supports .NET 3.5+ and will in the future probably be ported to cover .NET 4 portable class library.

At the moment, - it's very dirty, I know - I'm distributing the Ant

[2014-12-15 13:51] xanathar opened #88 "Problem(s) with portable libraries"
Hi,
I've tried to target a portable class library project using ANTLR and I get this error:

https://www.dropbox.com/s/91tswew5u1573cd/error.png?dl=0

I tried several combinations of target frameworks but no success so far.

Don't know if linked to the fact that I have Xamarin and MonoGame installed.

[2014-12-15 14:02] sharwell opened #89 "Update versioning policy"
Update the builds to enable binary compatibility across builds, as described in #87.

[2014-12-15 14:07] sharwell opened #90 "Support Xamarin.iOS10"
The `portable-net40` and `portable-net45` builds should be updated to support the **Xamarin.iOS10** target, if possible.

[2014-12-15 14:09] #88 closed, assigned to nobody

[2014-12-15 14:11] #87 closed, assigned to nobody

[2014-12-16 10:21] sharwell opened #91 "Test binary compatibility of net35-client → net40-client builds"
Following the implementation of #89, the described link between the `net35-client` and `net40-client` framework builds should be tested to ensure proper binary compatibility is preserved. The compatibility graph and readme will need to be updated to reflect the result.

[2014-12-16 10:47] #38 closed, assigned to sharwell

[2014-12-22 22:55] Rosenheimer opened #93 "Possibility to let parser abort parsing when encountering erros"
Hi, as suggested on [stackoverflow](http://google.com), I'd like to ask if it's possible to implement some kind of abort option into the parser when parsing errors are encountered.

In my specific case, I encounter huge slowdowns when processing thousands of distinctive parsing operations on bad (meaning a lot of invalid data) input due to the thrown exceptions. Since I currently only validate an

[2015-01-01 00:49] #93 closed

[2015-01-14 23:03] Steffen007 opened #95 "import problem"
Hi, I think there is a bug with imported grammars.
If I try to compile a grammar with import in it, it throws this call stack in Visual Studio.

Fehler	1	Unknown build error: Exception in thread "main" java.util.NoSuchElementException: token index 137 out of range 0..134	Antlr441CSharp
Fehler	2	Unknown build error: 	at org.antlr.runtime.BufferedTokenStream.get(BufferedTokenStream.java:154)	Antlr44

[2015-01-19 21:24] DanMcLaughlin opened #96 "Support Unity"
Unity3D (http://unity3d.com) uses Mono for the C# engine, but Antlr doesn't yet support that runtime.

[2015-01-21 02:40] #89 closed

[2015-01-22 13:37] DanMcLaughlin commented on #96
Unity regenerates the project files at will. When it does obviously all the custom project settings are lost.

I can write a .cs file that when added to Unity (must go into a folder below "Assets", e.g. "Assets/VSAntlrIntegration/VSHooks.cs") will have hooks for me to write to the project file whenever Unity generates it.

The hook template is here
http://unityvs.com/documentation/api/project-file

[2015-01-22 13:49] sharwell commented on #96
It's pretty straightforward to include a code file in a NuGet package which gets added to the project. This file would add the necessary references to the project file pointing to the ANTLR 4 code generator. Note that updating the version of ANTLR 4 used in a Unity project would request permission to overwrite this file because it exists in a location that users can see and modify.

I'm hoping we

[2015-01-22 13:55] DanMcLaughlin commented on #96
I haven't had a chance yet to experiment to find the name yet. If it helps, I get

".NETFramework,Version=v3.5,Profile=Unity Subset v3.5"

found via the pointers from http://blog.stephencleary.com/2012/05/framework-profiles-in-net.html

[2015-01-22 13:56] sharwell commented on #96
If you're feeling bored (:wink:), the biggest thing you could do aside from figuring out the folder name is to help write the VSHooks file. The necessary parts to include in the project file are the following:

1. [An `<Import>` line at the top of the file](https://github.com/tunnelvisionlabs/LangSvcV2/blob/1ddf33ad46c5d41868af0629420e850d91c37921/Tvl.VisualStudio.Language.Antlr3/Tvl.VisualStudio.

[2015-01-22 14:03] DanMcLaughlin commented on #96
Well, it's easier than working on the C++ Antlr port so yeah I'll do it!

[2015-01-29 13:06] DanMcLaughlin commented on #96
OK I've written the hooks file to do this. Tricky, or not so tricky after you figure it out. Anyhow I also notice that the packages.config file gets added as part of the ANTLR package but then gets wiped from the Unity generated project file. Important?

[2015-01-29 14:52] sharwell commented on #96
That's great news, even if we haven't figured out 100% of the issues. :+1:

I assume you are stating that the following line gets removed from the **.csproj** file.

[code]

I didn't follow this. If it's a problem, can you provide an example (or just clarify that it's not a problem)?

I expected this at least initially. I'll try to find a workaround.

Which two files? The generated code should onl

[2015-01-29 16:35] DanMcLaughlin commented on #96
| I didn't follow this. If it's a problem, can you provide an example (or just clarify that it's not a problem)?

I'm talking about the packaging namespace so that the NuGet package will install into Unity without complaints (I codged it together by pulling out the 3.5 package and putting it in the root of the zip file)

| Which two files? The generated code should only ever appear in the obj/$(Co

[2015-01-29 17:18] DanMcLaughlin commented on #96
On re-reading I think I should clarify. It appears that the **obj/$(Configuration)** files are getting regenerated properly, and the fact that a lexer/parser at the same level in the hierarchy is initially generated *isn't* a problem. The problem actually is that those files aren't then kept in sync.

So I think that the existing code which generates files in **obj/$(Configuration)** can be left a

[2015-01-30 23:25] DanMcLaughlin commented on #96
Another issue. Copying the generated files up to where Unity sees them gives the following issues (actually trying to compile in VS gives the same errors). Note this is using the Java v4 grammar from the Antlr repo as-is.

JavaLexer.cs::private bool JavaLetterOrDigit_sempred(RuleContext _localctx, int predIndex) {
		switch (predIndex) {
		case 2: return **Character**.isJavaIdentifierPart(_input.LA

[2015-02-01 12:37] DanMcLaughlin opened #97 "Runtime/Lexer::TokenNames is marked obsolete but not in the derived generated"
Runtime/Lexer::TokenNames is marked Obsolete for some reason, but the overridden generated Lexer::TokenNames is not marked obsolete, this is an error in the Unity 3.5 Mono project. Why is it marked Obsolete at all?

[2015-02-01 18:36] sharwell commented on #97
`TokenNames` is obsolete because the new `IVocabulary` interface provides well-defined behavior that covers a much wider variety of scenarios. The `TokenNames` property was not removed to reduce the difficulty of users to upgrade to the latest release.

I'll update the template to mark the property obsolete in generated code.

[2015-02-05 13:33] DanMcLaughlin commented on #96
Giving up on this idea for now.

Unity is using an older version of Mono (2.0.50727.1433) because of licensing issues. This bug (compute_class_bitmap) has been fixed, but not in this ancient version. Meanwhile Unity has created a IL to C++ converter to deal with this issue, but that will only support static .NET features and no dynamic such as reflection (which I'm pretty sure is used by antrlcs?)

[2015-02-05 14:06] sharwell commented on #96
Hi Dan,

Thanks for looking into this as much as you did. I've been swamped, but I really do want to address this and I'm certain your work and commentary will prove instrumental regardless of the outcome (whether it is a successful implementation or determination that it can't be implemented). :+1:

[2015-02-05 17:43] DanMcLaughlin commented on #96
I'll post the VS project file hooks code here for reference but I think it's hopeless. With the Xamarin/Mono licensing situation its unlikely Unity will ever update, and now their stated policy is to move to their translation tool (e.g. "run away from Mono"). It's possible that the tool could successfully translate the Antlr dll to C++ but seems unlikely as they state they won't support runtime fe

[2015-02-06 12:46] DanMcLaughlin commented on #96
For the record, here's the bug (fixed in 2010), appears to be an issue with two parameter templates

https://bugzilla.novell.com/show_bug.cgi?id=594942

Here's the project file hooks
-----------------------------------------------------------------------------------------------------------

using SyntaxTree.VisualStudio.Unity.Bridge;

[InitializeOnLoad]
public class ProjectFileHook
{
    // necess

[2015-02-17 08:59] giessweinapps opened #99 "-Xforce-atn does not work"
Hi,

if i switch on the "Force ATN" option for my grammar, the build failed because the java executable getting passed the option "-force-atn" and this one is unexpected.

After a short lookup it seems that it is needed to pass "-Xforce-atn" to the ANTLR java executable. A little bugfix within the build Task is needed to fix this.

[2015-02-17 13:28] sharwell commented on #99
Hi @giessweinapps,

Thank you for reporting this. I corrected the build task in ab7b0ae55800b615219f0d7f36acddbb0c483b8f, but it is not yet part of a release. To be honest, I didn't think anyone else was actually using this feature. :grinning:

[2015-02-17 13:28] #99 closed

[2015-02-21 03:38] lextm opened #100 "Antlr4Compile target failed to detect Java on OS X"
On OS X and Xamarin Studio, with Oracle Java installed, but still get this error message.
[code]

[2015-02-21 04:52] sharwell commented on #100
Hi @lextm,

Sorry things aren't working for you the way you expected. The ongoing work in #94 should (eventually) resolve your situation as well. Would you like to take a look at that discussion and let me know what you think?

Thanks!

[2015-02-27 04:05] hungdluit opened #101 "Nice to have enumerable for tokens"
Hi,

I know it just a personal problem. To me, it is very terrible to use a string comparison to find out a token in lexer. I feel uncomfortable to make the grammar after implementing csharp to work with antlr lexer.

If I missed somethings that you already have this one. Please, introduce it to me.

Thanks for understanding,

[2015-02-27 04:07] sharwell commented on #101
Hi @hungdluit,

Can you show an example of what is causing problems? I don't think I understood your request.

Thank you! :smile:

[2015-02-27 04:40] hungdluit commented on #101
I'm writing a java parser by anltr4 in vs2013. An using grammar in https://github.com/hungdluit/grammars-v4/blob/master/java/Java.g4.

The problem is when I try to use vistor to determine modifier for a class/interface.

       if(context.classOrInterfaceModifier() != null)
              {
                Transpiler.Compilers.Java.AbstractJavaParser.ClassOrInterfaceModifierContext sub = context.cl

[2015-02-27 04:46] sharwell commented on #101
I believe the constant you are looking for is `JavaLexer.PUBLIC`, which is created due to this lexer rule:

https://github.com/hungdluit/grammars-v4/blob/d4afc21f7c9687d84e3dc1847f83012d986f44e7/java/Java.g4#L646

[2015-02-27 04:50] hungdluit commented on #101
looks great. Thank you :dancer:

[2015-02-27 04:51] sharwell commented on #101
Happy to help :+1:

[2015-02-27 04:51] #101 closed

[2015-03-11 00:48] JohnWashburn opened #102 "Java installation via environment variable not working"
The ANTLR4 C# targets do not read the environment variable: JAVA_HOME
This is a resurrection of https://github.com/antlr/antlr4/issues/520 but is targeted to the build I am using: Antlr4 4.3.0.

See corrected steps to reproduce in the comment below.

My environment is Windows 7 x64 with VS2012.

Steps to reproduce:
1) install the SE JRE 1.8 from http://www.oracle.com/technetwork/java/javase/downlo

[2015-03-11 01:08] JohnWashburn commented on #102
If this is indeed a problem in JavaHome,  may I ask that the error message be improved?

Having been on the receiving end of error message such as the one above (a single phrase use for several failure modes (JavaHome proper) and several phrases for the same failure mode as done in ProcessExceptionAsBuildMessage(Exception exception)), your life will be easier if you tell the developer (aka us) mor

[2015-03-11 02:10] JohnWashburn commented on #102
upon further reflection my steps to reproduce are actually to reproduce a corrupted install because the registry entry JavaHome exists, but points to the incorrect directory when the directory is renamed to *C:\Program Files\Java\JWW.jre1.8.0_40*

If the setup steps are changed as follows:
1) install the SE JRE 1.8
1a) create a directory named C:\temp
1b) Copy the JRE installer from http://www.ora

[2015-03-11 02:12] JohnWashburn commented on #102
JAVA_HOME = C:\temp\..\jre8
or
JAVA_HOME = C:\jre8

[2015-03-11 02:44] sharwell commented on #102
I believe the ongoing work in #94 will address this issue as well. I'd be interested in your feedback on that. :smile:

[2015-03-11 03:28] JohnWashburn commented on #102
Dear Mr. Harwell:

Yes, #94 <https://github.com/tunnelvisionlabs/antlr4cs/pull/94>  would, I guess, maybe, solve the problems of #100 <https://github.com/tunnelvisionlabs/antlr4cs/issues/100>  and #102 <https://github.com/tunnelvisionlabs/antlr4cs/issues/102> , but why are issues #100 <https://github.com/tunnelvisionlabs/antlr4cs/issues/100>  and #102 <https://github.com/tunnelvisionlabs/antlr4cs/

[2015-03-11 04:05] JohnWashburn commented on #102
I issued the following command on my local machine:

    "C:\temp\..\jre8\bin\java.exe" -cp "C:\Users\jwashbur\Documents\My Git Repos\GeneralProgramming\HelloGrammar\packages\Antlr4.4.3.0\build\..\tools\antlr4-csharp-4.3-complete.jar" org.antlr.v4.CSharpTool -o obj\Debug\ -listener -visitor -Dlanguage=CSharp_v3_5 -package HelloGrammar "C:\Users\jwashbur\Documents\My Git Repos\GeneralProgramming\He

[2015-03-11 21:55] JohnWashburn commented on #102
I see the source of my confusion now.

Neither Commit 84b936a70a058cb3401acbc26252e5b83d261328 (4.3.0) nor commit/878739f6e4dd1304f8e45865c4f523522f0df590 (v4.4.1-alpha001) has the code I referenced for JavaHome which is from the latest commit (8845ad6515c8d3cbb52d819a78e687e6010076eb).

DOH!!!

What I will do for the interim is create a local patch on my local system which incorporates the code i

[2015-03-22 06:58] baruchl opened #103 "error AC1000: Unknown build error: Picked up JAVAOPTIONS: -Djava.net.preferIPv4Stack=true"
Hello,
I'm trying to use the ANTLR 4.3 nuget package in VS2013, and when compiling I get the following compilation error:
error AC1000: Unknown build error: Picked up JAVAOPTIONS: -Djava.net.preferIPv4Stack=true

looking into my environment varaibles, I do have a JAVAOPTIONS varaible with the value
-Djava.net.preferIPv4Stack=true

When double clicking the error, it take me to the Antlr4ClassGenera

[2015-03-22 16:21] sharwell commented on #103
The AC1000 message is being reported as an error because the code that calls out to Java during the build doesn't recognize the line "Picked up _JAVA_OPTIONS" line which it's printing. The only way with the current release to suppress that message is to undefine the _JAVA_OPTIONS environment variable, but I'll look into improving the handling of this for the next release.

The classes in the inter

[2015-03-25 09:55] baruchl commented on #103
Hi,
Thanks Sam. Just to close this issue - there is no connection between the compilation error described above and the behavior of the classes generated in Obj\Debug.

So, to solve the Obj\Debug, I simply added those files to my solution using "Add as Link".
I'm still getting the compilation error "error AC1000: Unknown build error: Picked up JAVAOPTIONS: -Djava.net.preferIPv4Stack=true", but it

[2015-03-25 09:55] #103 closed

[2015-03-28 05:20] sharwell opened #104 "Verify global alias compatibility with .NET 4.0"
@nippur72 and @stevebuckco:

This [original and reference] build of the ANTLR 4 C# runtime provides targeted builds for nearly every .NET release created since .NET 2.0, including portable class libraries and the .NET Compact Framework. The .NET 4.0 build should work without alteration for your scenario.

I haven't had time to update the build tools for optimum cross-platform behavior (e.g. not re

[2015-03-31 12:38] fireboy0526 opened #105 "Visual Studio 2013 and Antlr C# Import problem"
Hello there,

I've been using antlr with Visual Studio and so I've import the Antlr package from Nuget. However, with Antlr4.3, it is causing that error with importing lexer and parser files, which can be found on antlr/antlr4#670.

Is it possible to request an update of the Antlr version on Nuget please.

Thank you very much.

This is the error message that I'm getting (please note that this isn'

[2015-03-31 14:35] sharwell commented on #105
Hi @fireboy0526,

I don't remember if the 4.4.1 prerelease package on NuGet included the fix for this, but either way I hope to release an updated package very soon. I'll make sure it includes the fix for this.

[2015-03-31 22:26] fireboy0526 commented on #105
Hello @sharwell

Thank you very much for your reply. I do look forward to see the update.

From what I've been reading from the original Antlr repository, it seems that version 4.5.1 have the fix to this problem. Once again, thank you for your hard work.

[2015-05-15 12:07] ckuhn203 opened #106 "Add DebuggerNonUserCode to generated classes"
As a dev, it would be nice for the debugger to step over the generated code by default. It is possible to add the [DebuggerNonUserCode attriubute][1] to the generated classes and set up Visual Studio so that the debugger skips over the code with the [Just My Code][2] option, but this would need to be done manually each time the ANTLR project is built.

Is there any possibility of ANTLR adding this

[2015-05-15 18:52] sharwell commented on #106
Unfortunately this would make it impossible (or very difficult) to debug code contained in semantic predicates and embedded actions. However, if someone wanted to implement this as an option (similar to the way generation of abstract grammars is an option), I wouldn't be opposed to that.

[2015-05-15 21:23] ckuhn203 commented on #106
Any tips on where to get started? I wouldn't mind giving it a go myself.

[2015-05-27 08:08] ViceIce opened #107 "Missing net35 full assembly"
At [4.5.0-alpha002](https://www.nuget.org/packages/Antlr4.Runtime/4.5.0-alpha002) the net35 folder is missing and our build scripts require it. Is it possible to add it to the package?

[2015-05-27 13:44] sharwell commented on #107
The .NET 3.5 assembly didn't change. It was just in a folder with the wrong name, and that caused NuGet to think that a certain group of users could not use this package. You'll need to potentially update your build script in a few ways (NuGet handles these automatically in most cases, but it sounds like you have custom scripts in addition to what NuGet provides):

1. The name of the assembly chan

[2015-05-27 15:01] ViceIce commented on #107
We are building our project for net35 and net45. To build we replace the ´net45´ part of the hintpath with an msbuild variable (powershell script after nuget update-package). There we have no knowledge that we have to use the net35-client folder.

[2015-05-27 16:59] sharwell commented on #107
@ViceIce Is your project open source by any chance? This is a very interesting problem to me and I want to help find a great long-term solution.

[2015-05-27 17:04] sharwell commented on #107
@ViceIce You should have received an invitation to join an **antlr4cs** chat room on gitter. I've been very happy with that service; since you are clearly an active contributor to the project I'd love to discuss some of your concerns there and see if we can address them in an upcoming release.

[2015-05-29 04:22] ViceIce commented on #107
Found a new workaround to use net35-client assemblies, so this is no longer needed.

[2015-05-29 04:22] #107 closed

[2015-05-29 15:11] sharwell commented on #107
Happy to hear you were able to update your build configuration to handle the new directory structure. :+1:

Tagged as **invalid** so people don't think the .NET 3.5 support was removed from the release. :smile:

[2015-05-29 15:15] ViceIce commented on #107
Yes, we use the new workaround we [discussed](https://gitter.im/tunnelvisionlabs/antlr4cs?at=55671c2abeed96397ea72504) ealier.

Taggging as invalid is fine. :+1:

[2015-06-02 14:38] ViceIce opened #109 "cannot run build.ps1 without Visual Studio 2008 installed"
The .Net Compact Framework parts can only be build with VS2008.

We should think about to drop support with next major release and add some conditionals to build scripts till end of support.

[2015-06-02 15:55] sharwell commented on #109
So on the current machine I actually can't test this because Visual Studio 2013 isn't installed, and that build runs before the .NET 3.5 CF build in **build.ps1**. :expressionless: Of course I can rearrange things to get it moving; I'll do so this evening. I'm really hoping the only thing needed to build the project you refer to is the [https://www.microsoft.com/en-us/download/details.aspx?id=65](

[2015-06-02 15:58] ViceIce commented on #109
@sharwell Link is defect.

[2015-06-02 16:01] ViceIce commented on #109
Nope, not enough:
[code]

Sorry, but german system.

[2015-06-03 03:14] sharwell commented on #109
This is probably still incomplete, but hopefully it is a start.

### Prerequisites

* Visual Studio 2012, 2013, or 2015
* [.NET Compact Framework 3.5 Redistributable](https://www.microsoft.com/en-us/download/details.aspx?id=65)
* [Power Toys for .NET Compact Framework 3.5](https://www.microsoft.com/en-us/download/details.aspx?id=13442)
* JDK or JRE from Java 6

### Environment

| Environment Varia

[2015-06-03 05:35] ViceIce commented on #109
:+1: The PowerToys were missing on my machine.

But it does not find my "jre1.8.0_45" (x64).

[2015-06-03 05:36] sharwell commented on #109
Try setting `JAVA_HOME`. I set that environment variable in the same script that sets `M2_HOME`; I didn't include it in the table above because I wasn't sure it was needed.

[2015-06-03 05:39] ViceIce commented on #109
`JAVA_HOME` is set to `C:\Program Files\Java\jdk1.8.0_25`

[2015-06-03 05:40] sharwell commented on #109
Did you mean `45` (instead of `25`)?

[2015-06-03 05:41] ViceIce commented on #109
Ah, sorry i see the error. Yesterday I updated may jdk an does not restart my shell. :flushed:

[2015-06-03 05:52] ViceIce commented on #109
We should add your build description to a reame file.

[2015-06-03 06:08] sharwell commented on #109
Once it's updated to include any changes you had to make to it, I certainly agree!

[2015-06-04 11:05] lukemurray opened #110 "Parser does not compile with Antlr4.5 from homebrew"
I'm on a mac. Have installed .NET using the instructions here https://github.com/aspnet/home

Used homebrew to install Antlr4. Which resolves to 4.5.

Compiling my generated files I get the following errors
error CS0534: 'MyParser' does not implement inherited abstract member 'Recognizer<IToken, ParserATNSimulator>.TokenNames.get'

MyParser.cs(437,41): error CS0103: The name 'TokenStream' does not

[2015-06-04 13:41] sharwell commented on #110
### Reason for problems

ANTLR 4 includes two components which affect your use:

1. The code generator, which reads **.g4** files and creates **.cs** files.
1. The runtime library, which you compile against and then reference in your running application.

The underlying cause of your problem is the use of the runtime library from this project, but the use of the code generator from an unofficial (

[2015-06-04 22:03] lukemurray commented on #110
That makes sense and is what I was thinking might be the issue.

I'm using ASP.NET vNext, which uses a new build system. It seems to just pick up CS files in the directory you are running from. Dependencies are defined in a project.json and resolved from nuget. Right now I just used Antlr4 command line to generate the parsers etc. and use dnx (https://github.com/aspnet/DNX) to run my application.

[2015-06-04 23:32] sharwell commented on #110
### So this should be a start...

1. Add a reference to ANTLR 4 by adding the following to **project.json**:

[code]

1. Add references to **package.json**:

[code]

1. Add a **gruntfile.js** to your project. This assumes your grammar is located in a folder **GrammarFolder**.

[code]

### Work left to do:

1. Automatically get the path to the **.dnx** folder
1. Automatically determine the correct

[2015-06-09 11:03] lukemurray commented on #110
Thanks! That really helps. I didn't realise your version of the Antlr4 plugin (that generates the code) was on nuget.

That helps a lot!

[2015-07-01 00:22] scottcarr opened #111 "How to build a multiple file grammar in Visual Studio?"
I've got a large grammar that's split up into multiple files and multiple grammars that I stitch together with import statements.

If I include the top level file in my .csproj, the parser and lexer build fine, but the issue is that if any of the imported grammars change Visual Studio doesn't know to rebuild the top level grammar.

I don't want to build a parser for the imported grammars only the

[2015-07-01 02:32] sharwell commented on #111
It appears that setting the build action to `Antlr4AbstractGrammar` will in fact trigger regeneration of your grammars when a dependency changes.

:thought_balloon: I wonder where I came up with that name. It's definitely not the same as the `AbstractGrammar` property.

[2015-07-01 17:05] scottcarr commented on #111
Thanks for your response.  When I try to build my parser in Visual Studio I get a java out of memory error.  The weird thing is that if I run "java -jar antlr4-csharp-4.5-SNAPSHOT-complete.jar mygrammar.g4"  from PowerShell it seems to generate the parser without error.  Any ideas?  I installed Anltr4 -Pre with nuget.  Is there an option to give the JVM more memory?

[2015-07-06 04:51] sharwell opened #113 "Strategy for documenting support for "other environments""
Idea pulled from Gitter discussion with @joemcbride:

1. Main readme describes steps for the majority case - NuGet + MSBuild on Windows
2. Readme links to page(s) with integration instructions for "other distribution, build, and/or operating systems" where we place information as it's developed
3. We add a line like "Interested in helping support a new environment? Here's how to start:"
  1. Creat

[2015-07-06 19:11] sebandraos opened #114 ""New Item"s not visible when creating Portable Class Libraries in VS2013"
Hi Sam,
When attempting to add a new item in a PCL solution I'm not being presented the same new item list (with ANTLR Grammars etc.). I have the ANTLR extension, ANTLR4.Runtime and ANTLR4 from NuGet. This seems like an odd behaviour because I do get the full list when creating another type of solution e.g. a Console Application.
Thanks in advance for any suggestions,
Seb

[2015-07-06 19:39] sharwell commented on #114
@sebandraos This functionality (grammar templates) is actually part of the ANTLR extension for Visual Studio, which is part of a different repository:

https://github.com/tunnelvisionlabs/LangSvcV2

It definitely sounds like a bug due to an oversight in the templates. I recommend posting this issue on the other repository and we can take it from there. :+1:

[2015-07-06 19:39] #114 closed

[2015-07-06 23:31] sebandraos commented on #114
Thanks for the heads up. I have now opened a new issue over there (https://github.com/tunnelvisionlabs/LangSvcV2/issues/61)

[2015-07-07 04:37] #100 closed

[2015-07-07 04:37] #102 closed

[2015-08-04 12:36] sharwell opened #115 "Update documentation following resolution of ReSharper issues"
It seems the [ReSharper issue](https://youtrack.jetbrains.com/issue/RSRP-265402) has been resolved in the latest release. The documentation should be updated to reflect which manual steps, if any, are required for ReSharper users to have a positive experience with ANTLR 4 in C#.

:memo: It seems users need to have ReSharper 9.1.3+ for this feature, or perhaps even ReSharper 9.2+.

[2015-08-04 13:38] taliano commented on #115
Updated to ReSharper 9.1.3 (this is what my license allows, can't update to 9.2 AFAIK). Tried [setting "force call msbuild"](https://youtrack.jetbrains.com/issue/RSRP-265402#comment=27-1067142) and also installed VS2013 update 5. This issue still exists.

[2015-08-05 08:44] ltrzesniewski commented on #115
You need VS 2015 for the issue to be fully fixed, or you can work around it in VS 2013.

Please refer to [this comment](https://youtrack.jetbrains.com/issue/RSRP-265402#comment=27-1065940) in the JB bugracker:

[2015-08-05 10:53] taliano commented on #115
Just installed the "Early Access Program" version - these settings available only in that preview-version currently, and it works there. Really hoping I won't be suffering more severe issues as it is an EAP version...

[2015-08-14 17:20] taliano commented on #115
One more thing - the "ANTLR Language Support" extension for Visual Studio 2015 doesn't exist, so how can I work around by using visual studio 2015?

[2015-08-14 17:31] sharwell commented on #115
Due to a bug in the way Visual Studio 2015 registers MEF-based extensions, I'm not sure I'll be able to release a compatible version of the extension before Visual Studio 2015 Update 1.

[2015-08-14 17:41] taliano commented on #115
Very sad to hear that... is there a way to manually install it? I mean some people in the JetBrains thread above mentioned using VS2015, so is there some work-around for now?

[2015-08-14 18:05] sharwell commented on #115
It's possible to enable the extension, but if you install it you'll run into tunnelvisionlabs/InheritanceMargin#6. It's a very disruptive bug.

[2015-08-15 11:09] krzkaczor commented on #68
In newest EAP version of ReSharper 9.2 there is extra option is project settings - Additional compile items. Just add there files that you need (parsers, visitors etc) and it works :)

You can download EAP version from https://confluence.jetbrains.com/display/ReSharper/ReSharper+9.2+EAP

[2015-08-17 11:02] taliano opened #116 "Lexer & parser tokens' values don't match in v4.3 (using modes, FWIW)?"
I hope I diagnosed the issue correctly: the following lexer and parser rules produce different token-values in the generated `SimplestLexer` and `SimplestParser` classes: in the `SimplestLexer` class the `BODY` token is 6, while in the `SimplestParser` class it's 3

The input test string:

	var test = "cmd   some -> \"string\" thing...    \r\n" +
			   "if";

Parser:

	parser grammar SimplestParse

[2015-08-17 13:16] sharwell commented on #116
Your parser grammar is missing a `tokenVocab` option. Without it, your parser and lexer are treated as independent grammars, so there is no attempt to use the same values for tokens.

[code]

:memo: You actually received a warning during the build telling you that there is no lexer rule matching the `IF`, `WORD`, and `BODY` tokens used in the parser. When you see this warning, you should fix it or

[2015-08-17 13:16] #116 closed

[2015-08-22 07:43] thangchung opened #117 "Do your team have any plan to upgrade current version (4.5) into .NET 4.6?"
I have worked on a parser for my project in .NET 4.6, I searched around internet and found out Antlr4cs is a good parser for my requirements, but I recognized that Antlr4cs only work on .NET 4.5 target. Do your team have any plan to upgrade to .NET 4.6 target?

[2015-08-23 03:48] sharwell commented on #117
Hi @thangchung,

Thanks for reporting this. I didn't realize the recent release of .NET 4.6 broke this functionality. Support will be implemented by treating .NET 4.6 the same way as .NET 4.5 code [by updating this check](https://github.com/tunnelvisionlabs/antlr4cs/blob/b47473a79bbd31547d5e99eb728f54e6026ed6b9/runtime/CSharp/Antlr4BuildTasks/Antlr4ClassGenerationTaskInternal.cs#L304-L305).

[2015-10-09 17:22] #117 closed

[2015-10-13 21:48] afscrome opened #121 "AppVeyor reporting success even though build fails"
The build https://ci.appveyor.com/project/sharwell/antlr4cs/build/1.0.20 shows as successful, however if you scroll to the bottom, you can see there is a build failure

[code]

You may also wish to switch to the newer AppVeyor image - builds start nearly instantly, and you no longer need the `set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%` hack to use the newer msbuild.  See http://www.ap

[2015-10-13 21:52] sharwell commented on #121
I'm on an AppVeyor Pro account, so the builds are even faster. :smile:

[2015-10-13 22:17] afscrome commented on #121
Fair enough.  When I submitted my pull request, it took a couple of minutes before the build starts - I may have just hit a bad time.

[2015-10-14 19:35] #121 closed

[2015-10-14 21:24] afscrome opened #124 "Build Tools Nuget 3 Compatibility"
Currently the build tool packages uses the approach described at https://docs.nuget.org/create/creating-and-publishing-a-package#import-msbuild-targets-and-props-files-into-project to import the msbuild targets & props files into the target solution.   This approach however has been deprecated in NuGet 3 and so the build tools fail to register in a modern PCL project - http://docs.nuget.org/create

[2015-10-20 15:55] Tiliavir commented on #117
Is there going to be a beta release on nuget soon? Similar to the 4.5.0-alpha002?

[2015-10-30 17:20] Tiliavir opened #126 "NuGet Package for .NET 4.6"
Hi there,

I saw in the commit log that there is a fix to support .NET 4.6. I had to update my project to 4.6 recently and had therefore to create a custom build of ANTLR4CS - it worked perfectly for me.
But is there going to be a prerelease on NuGet soon, so that I can commit my changes to our Repo?

Thanks in advance,
Markus

[2015-10-30 17:53] sharwell commented on #126
I'll try to get one out tomorrow. Feel free to make a comment here tomorrow to remind me that I said this. :D

[2015-10-31 18:58] sharwell commented on #126
Published today as [v4.5-alpha003](https://github.com/tunnelvisionlabs/antlr4cs/releases/tag/v4.5-alpha003).

[2015-10-31 18:58] #126 closed

[2015-11-01 22:49] sharwell opened #130 "Test IKVM fallback support on non-Windows machines"
Release 4.5-alpha003 included support for using IKVM (bundled) instead of a JRE for generating grammars. This support was tested on Windows machines, but still needs to be tested on non-Windows machines using Mono.

[2015-11-02 08:49] Tiliavir commented on #126
Thank you very much! That is working just perfectly! I didn't expect it that fast :+1:

[2016-01-18 08:39] sushihangover commented on #130
#### Environment:
* OS-X 10.11.2
* Xamarin Studio Version 5.10.2 (build 49)
* Mono JIT compiler version 4.2.2 (explicit/7b87787 Thu Dec 17 14:29:49 EST 2015

#### IKVM Error:
**Exception in thread "main" cli.System.NotImplementedException: The method or operation is not implemented.**

No `*.cs` files generated in `obj/Debug`

#### Only one file in the test project:
[code]

#### xbuild EBNF.Parser

[2016-01-18 15:56] sharwell commented on #130
@sushihangover We already have a fallback to call a different version of `java` (by setting the `JavaExecutable` property in your project file). The problem here is how do you generate code when no java installation is available at all?

[2016-01-18 22:43] sushihangover commented on #130
Ahh.... Must have missed the `JavaExecutable` property... I'll re-read the setup docs to find it so I can test the XS/MD IDE integration.

*Personally* I do not have a problem having Java as a requirement as I have a large number of apps that already require it, but I know it is an issue for some. It would be a nice feature to have it all self-contained with Nuget install for the x-plat support. I

[2016-01-29 02:30] nikeee opened #132 "Visual Studio 2015 Support"
The ANTLR Language Support Extension as listed here:
https://visualstudiogallery.msdn.microsoft.com/25b991db-befd-441b-b23b-bb5f8d07ee9f
Is listed as not compatible with VS 2015 and therefore cannot be used with VS >= 2015.

I'd love to have support for this extension in VS2015.

[2016-03-16 14:52] sparticus1701 opened #133 "Disable CS3021 compiler warning"
I am utilizing Antlr4 via Sam Harwell's Nuget package (v4.5.0-alpha003).  So far it is working well, but my compiler is giving me multiple warnings "Warning CS3021 '<classname>' does not need a CLSCompliant attribute because the assembly does not have a CLSCompliant attribute".

I would prefer not to receive this warning, but the code files are auto-generated.  I see that the generated files are d

[2016-03-18 17:35] GeorgDangl commented on #133
You can include directives in your source code to include certain warnings. ANTLR does this for a few warnings by default, but you can include the following code in your grammar to add CS3021 to the list of warnings to ignore:

    @header {
    #pragma warning disable 3021
    }

The line `#pragma warning disable 3021` will be placed at the top of the generated class and disable the automatic com

[2016-03-20 06:43] NLKNguyen opened #134 "API Usage Documentation and Examples?"
Hi Sam,

Thanks for the awesome work. I'm using this to build a language service for Visual Studio. Is there API documentation available? I currently have to drill down to the implementation to figure things out. It would be nice if there is documentation and various example snippets.

Also, since I'm just a beginner in VS extension and ANTLR, would you mind to give some kind of advice or referenc

[2016-03-23 12:01] Swkgram opened #135 ".G4 File Encoding"
Hello !
I'm a CS student at Aalborg University.
My group and I are creating our own compiler and language this year. We've decided to try out Antlr4.
When we tried to follow your guide we ran into a problem - specifically Step 7 in the: "Without using the ANTLR Language Support extension" section.
The language encoding  **Unicode (UTF-8 without signature) - Codepage 65001** results in errors:
![im

[2016-04-11 19:44] sharwell commented on #135
This is a bug in the code generator. It is supposed to support UTF-8 (with or without signature).

[2016-04-11 19:45] sharwell commented on #133
You need to include the following in your **AssemblyInfo.cs** file:

[code]

This line explicitly states what is already the default value. All assemblies should include this line so warning CS3021 never appears.

[2016-04-11 19:45] #133 closed

[2016-05-09 13:50] midiway commented on #132
plz, take a look at https://visualstudiogallery.msdn.microsoft.com/836c87a4-b182-4899-b014-ae40f4e32b4b

[2016-05-11 16:31] joce opened #137 "Make ANTLR 4.5.3 accessible from NuGet"
I see that ANTLR 4.5.3 runtime is accessible from the website (http://www.antlr.org/download.html), however, the latest version that is available from NuGet is 4.5.0-alpha003. Updating the version available from NuGet to the latest version would be much appreciated.

[2016-05-18 11:16] nikeee commented on #132
I downloaded the VSIX of antlr4cs of the store and unpacked it. In it, there is an xml file containing a list of supported VS versions. When I add VS2015 to the list and pack it again, it installs flawlessly and seems to work, too.
So maybe there is no migration work to do, just update the manifest.

[2016-05-31 18:48] sparticus1701 commented on #137
I would also like to see this; I have been working with 4.5.0-alpha003 and don't want to backport, but I also have deadlines coming up!

[2016-05-31 18:57] sharwell commented on #137
:memo: Keep in mind that the ANTLR 4 runtime distributed through NuGet is actually a highly-optimized C# runtime which is different from the version distributed through the link above. The two are not API compatible. The NuGet package includes an embedded copy of the ANTLR code generator in order to provide these unique features.

[2016-06-01 16:44] sparticus1701 commented on #137
Thanks for the clarification.  I am still wondering when the 4.5.0 builds will get out of alpha, as we've been building a NuGet package involving it and it won't allow the release version to include the prerelease package.

We're using .NET 4.6.1 and VS2015, and I don't know how the 4.3 package would work in those.

[2016-06-03 08:43] ltrzesniewski opened #138 "Framework version forward compatibility"
The 4.3 (latest stable) NuGet package doesn't like .NET 4.6 very much:

[code]

<strike>The tool should use the latest supported framework version when a higher target version is requested. That would provide forward compatibility.</strike> Nevermind, I noticed the following:

[code]

Or alternatively... There is no difference between the various `CSharp_v*Target` classes except for the template u

[2016-06-03 09:16] #138 closed

[2016-06-07 23:06] KvanTTT commented on #137
Why this runtime is not merged with main ANTLR repo?

[2016-06-08 02:12] sharwell commented on #137
@KvanTTT The main ANTLR Tool isn't able to generate the code used by this optimized runtime because it's missing some of the necessary static analysis features. In theory the code generation templates could have been modified in such a way that users not needing these features could use the main ANTLR Tool to generate C# code, but the C# target now distributed with the main ANTLR Tool was derived

[2016-06-08 02:15] sharwell commented on #137
I'm currently working on updating the Java release of the optimized runtime, from which this C# build is developed. Once it is up-to-date with the 4.5.3 release, I can update the C# build to match.

[2016-06-08 13:25] athafoud opened #139 "Cannot use Antlr4.Runtime.net45 assembly in a CRL"
I am creating a CLR that uses the generated code from me Antlr4 grammar. When I am trying to publish this CLR (and the required assemblies e.g. Antlr4.Runtime.net45) in my SQL Server I face the following error:

(66,1): SQL72014: .Net SqlClient Data Provider: Msg 6211, Level 16, State 1, Line 1 CREATE ASSEMBLY failed because type 'Grammar.TestLexer' in safe assembly 'TestAntlr' has a static field

[2016-06-08 14:37] #139 closed

[2016-06-09 02:15] #39 closed

[2016-06-09 02:15] #15 closed

[2016-06-09 02:34] sharwell commented on #137
:memo: I just published 4.5.3-rc1 to NuGet. See [Antlr4.Runtime](https://www.nuget.org/packages/Antlr4.Runtime/4.5.3-rc1) and [Antlr4](https://www.nuget.org/packages/Antlr4/4.5.3-rc1).

[2016-06-09 14:32] joce commented on #137
Thanks a bunch, Sam! :-) Much appreciated.
Also, not to push my luck, but do you have any plans to bring the ANTLR Language Support extension to VS 2015?

[2016-06-09 16:48] sharwell commented on #137
@joce Visual Studio 2015 had bugs in RTM and Update 1 (at least) which resulted in problems updating support fro the extension. See tunnelvisionlabs/LangSvcV2#63.

[2016-06-09 16:54] KvanTTT commented on #137
@joce, [Antlr4Code](https://visualstudiogallery.msdn.microsoft.com/836c87a4-b182-4899-b014-ae40f4e32b4b) is pretty good VS 2015 extension for grammars development.

[2016-06-10 04:02] joce commented on #137
@sharwell Ho. :-(

[2016-06-10 04:04] joce commented on #137
@KvanTTT I tried it and it's kinda okay, but the fact that you can't really change many of the font and colors settings makes it a no go for me.

[2016-06-17 03:34] sharwell commented on #132
Duplicate of tunnelvisionlabs/LangSvcV2#63 (where the ANTLR extension's code is located).

We're still limited by a major bug which was introduced in Visual Studio 2015, where it refuses to load some of our dependencies.

[2016-06-17 03:34] #132 closed

[2016-06-21 06:19] sharwell commented on #137
@KvanTTT @joce I just uploaded a new release of the [ANTLR Language Support](https://visualstudiogallery.msdn.microsoft.com/25b991db-befd-441b-b23b-bb5f8d07ee9f) extension which should work in Visual Studio 2015.

[2016-06-21 10:38] KvanTTT opened #143 "GetAllTokens and ClearDFA sometimes throws NRE in multithread mode"
Lexing (and parsing) and cache clearing can not be used simultaniously due to a such multithread issue:

[code]

At present time it can be solved with `ReadWriterLockSlim`. See my publication for detail: [memory-consumption-of-antlr-runtime](http://blog.ptsecurity.com/2016/06/theory-and-practice-of-source-code.html#memory-consumption-of-antlr-runtime).

[2016-06-21 12:56] joce commented on #137
This is amazing! Thank you so much!

On Tue, Jun 21, 2016 at 2:19 AM, Sam Harwell <notifications@github.com>
wrote:

[2016-06-21 13:46] sharwell commented on #143
The `ClearDFA` method is not safe for use while parsing operations are in progress. This is a global restriction for a particular lexer or parser (i.e. there can be no `FooParser` parsing operations in progress when `ClearDFA` is called on the interpreter for *any* instance of `FooParser`).

I believe this is more of a shortcoming in the documentation of a method that is generally discouraged than

[2016-06-28 03:55] ryanlin1986 opened #144 ".Net Core Support"
Nuget error when installing for .Net Core console app:
Errors in c:\users\ryanl\documents\visual studio 2015\Projects\ConsoleApp2\src\ConsoleApp2\ConsoleApp2.xproj
    Package Antlr4.Runtime 4.5.3-rc1 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Antlr4.Runtime 4.5.3-rc1 supports:
      - net20 (.NETFramework,Version=v2.0)
      - net30 (.NETFramework,Version=v3.0)

[2016-07-04 00:24] kahgeh commented on #137
Quick question - will 4.5.x be released as a stable build anytime soon.  I have restrictions over the use of a non-stable build.

[2016-07-04 00:26] sharwell commented on #137
@kahgeh I should be able to. Have you had the chance to try out the RC build?

[2016-07-04 00:34] kahgeh commented on #137
Yes, I have and it works like a charm for the work I am doing.

[2016-07-05 21:15] ph1ll commented on #144
The Antlr4.Runtime package can already be used with .NET Core projects, try a project file such as the following. The important part is adding an `import` that is supported by the Antlr4.Runtime package, such as `"imports": "net45"`

[code]

Obviously, I haven't been able to get the compile tools running in the Antlr4 package nicely, but as a workaround, I simply downloaded the `antlr4.runtime.4.5

[2016-07-13 10:31] widc opened #145 "extraction of literals"
Not all literals located in the .g4 file are found by the following chunk of code. Lines similar to "OfEach: 'of each' | 'for each';" (capital initial letter + alternatives separated by the pipe symbol) yield nulls instead of the literals:

[code]

[2016-07-15 13:13] sharwell commented on #145
This is by design. A literal name is only assigned to a token in cases where the token only matches one specific literal. Any deviation from this, including the use of `*`, `+`, `?`, `|`, or references to other rules, means the token is no longer considered a literal and is only assigned its symbolic name (which is the name of the lexer rule defining it).

[2016-07-15 13:15] sharwell commented on #145
I'm going to close this issue only because the current design is taken directly from the behavior of the reference release of ANTLR 4 (Java). To incorporate a change in behavior for literals, the change would first need to be incorporated in the Java code by filing an [issue here](https://github.com/antlr/antlr4/issues), and then it would come to the C# port.

[2016-07-15 13:15] #145 closed

[2016-07-16 06:51] widc commented on #145
Thanks a lot for your advice.

[2016-07-20 16:43] clembou commented on #137
Hi @sharwell, we are using the latest Antlr4 package too as a nuget dependency in some of our projects and have come across the same issue as @kahgeh: basically nuget is complaining about the Antlr package being a pre-release and will not let us issue a stable release of for our own packages that depend on it. So far the latest RC has been working well for us, it would be awesome if you could publ

[2016-07-20 17:22] sharwell commented on #137
@clembou I'll try to get it published today.

[2016-07-21 01:01] MSylvia commented on #96
I just hit the same error. I created a minimal project that shows the error based on the bug link that @DanMcLaughlin referenced and submitted a bug report to Unity with all of the information. I'll reply here when I have a response and/or bug number in their system.

[2016-07-21 13:31] #137 closed

[2016-07-21 16:52] clembou commented on #137
Awesome! Thanks a lot @sharwell !

[2016-07-22 03:43] kahgeh commented on #137
Thanks for releasing it  @sharwell

[2016-07-22 07:49] polysg commented on #137
Many thanks @sharwell; really appreciate the prompt response!

[2016-07-22 14:57] #144 closed

[2016-07-22 15:09] sharwell commented on #124
@afscrome Can you check out **4.5.3.1-beta001** and let me know if any changes are still needed?

[2016-07-22 15:11] #105 closed

[2016-07-23 13:25] afscrome commented on #124
LGTM from the nuget 3 side.

[2016-07-23 13:25] #124 closed

[2016-07-25 14:09] sharwell commented on #124
@afscrome Thanks for following up, and sorry it took me so long to clean this up. :smile:

[2016-07-27 22:29] KvanTTT opened #155 "BufferedTokenStream GetText method with arguments does not work correctly"
`GetText(Interval interval)`, ` GetText(RuleContext ctx)` and `GetText(IToken start, IToken stop)` [methods](https://github.com/tunnelvisionlabs/antlr4cs/blob/778c61373aa12a777a425bf4c59186e33614b045/runtime/CSharp/Antlr4.Runtime/BufferedTokenStream.cs#L637) return text of only first token if `Fill` method has not been called before. `GetText()` works correctly.

[2016-07-27 22:37] KvanTTT commented on #143
In multithread mode `ReadWriterLockSlim` can be used as it pointed out in my publication. It also can be added to a documentation.

[2016-07-28 14:26] sharwell commented on #155
We should examine whether or not this is a bug in the Java version as well.

[2016-07-29 20:23] KvanTTT commented on #155
Reproduced in Java runtime too: https://github.com/antlr/antlr4/issues/1238

[2016-08-12 12:34] MSylvia commented on #96
Just got an email from unity saying the issue @DanMcLaughlin mentioned is resolved in an upcoming release.

Unity bug #816232 : https://fogbugz.unity3d.com/default.asp?816232_jkdd76ddpsfuvpbg

[2016-08-18 22:28] KvanTTT opened #156 "Not intuitive work with ErrorListener in parser or lexer"
The following lines do nothing:

[code]

We should use this instead:

[code]

Maybe it's better to make member `ErrorListeners` private or readonly?

[2016-09-09 03:44] GeneralGDA opened #157 "No encoding settings."
I've got an unusual setup: grammar file (*.g4) and DSL files with non-English character (Russian letters, actually). Also, the default encoding on my PC is windows-1251. So the problem is that there is no way to setup grammar file encoding and output parser file encoding for ANTRL bundled with the NuGet package. Exact case is next:

1. g4 file is in UTF-8, DSL files are in UTF-8
2. I compile and r

[2016-09-09 07:50] sharwell commented on #157
This is probably a duplicate of #135. I have a pull request up to fix it (#146); would you like to check it out and provide feedback on it?

[2016-09-09 07:51] #157 closed

[2016-09-09 07:53] GeneralGDA commented on #157
Seems like you are rigth. What do I need to do, to check if the pull reqest fixes the problem?

[2016-09-09 08:04] sharwell commented on #157
I tried to rebuild the pull request (which would post a fresh copy of the build artifacts for you), but it seems to be broken on a dependency right now. It's late so I'll have to look back at this tomorrow.

[2016-09-09 17:07] juergenr opened #159 "Encoding issues for foreign characters (utf8)"
Environment:
- Windows 10 (non english),
- Visual Studio 15 (up-to-date, english) ,
- Antlr4cs 4.5.3

Simple Grammar (saved as utf8):
[code]
Code (saved as utf8):
[code]

I get a "token recognition error" for each character.
Normal ASCII input works fine.
I also tried `MemoryStream ms = new MemoryStream(Encoding.UTF8.GetBytes("awoäbd"));` as input without success.
The GitHub repository master 9/9/

[2016-09-09 20:54] sharwell commented on #159
I believe this is a duplicate of #135.

[2016-09-09 20:56] #159 closed

[2016-09-16 17:32] gpetrou opened #160 "How to change ouput path of generated files?"
Is it possible to only change the output path of the generated files?

[2016-09-23 15:52] sharwell commented on #160
The output is placed in the intermediate build directory. You can change the output path of generated files by setting the `BaseIntermediateOutputPath` property in your project file. Is there something more specific you were looking for?

[2016-09-27 15:11] tverstraten opened #161 "using $tok.pos in grammar fails c# compilation"
The generated code turns that into CharPositionInLine() which is no longer in IToken (it is was replaced with Column).

[2016-09-30 23:25] u8621011 opened #162 "syntax error: mismatched character '\r' expecting ']' while lexer rule contains ấ"
this lexer rule makes this error:

[code]

seems that's unicode problem?

Environment : visual studio 2015 save with,  utf-8 without signature, options.

[2016-10-01 01:03] YangFan789 commented on #162
Use \u escape character

[2016-10-01 02:09] sharwell commented on #162
This looks like a duplicate of #135.

[2016-10-03 08:55] juergenr commented on #162
Hi Sharwell,
I really like this great library - but I'm also suffering from the defect unicode (utf-8) support.
Maybe I have to switch to some other parser - but It's really difficult to find something comparable ;-)
But nevertheless thanks for your work!

[2016-10-03 08:56] juergenr commented on #162
Hi Sharwell,
I really like this great library - but I'm also suffering from the defect unicode (utf-8) support.
Maybe I have to switch to some other parser - but It's really difficult to find something comparable ;-)
But nevertheless thanks for your great work!

[2016-10-03 10:32] #135 closed

[2016-10-03 10:33] #162 closed

[2016-10-08 12:03] juergenr opened #163 "foreign characters not working"
As I described in closed #159 the usage of foreign characters does not work (with the actual master).

Grammar:
[code]
Code:
[code]
I get token recognition errors for each non ASCII character.

Is there something I missed?

[2016-10-08 14:52] sharwell commented on #163
Hi @juergenr,

The issue was closed because it was a duplicate of another issue that was filed earlier (specifically #135).

The issue has been corrected in the latest working branch of the repository, but I hadn't uploaded a new release to NuGet yet. I just pushed release [4.5.4-beta001](https://www.nuget.org/packages/Antlr4/4.5.4-beta001) which will treat these files as UTF-8 by default instead

[2016-10-08 14:52] #163 closed

[2016-10-08 17:29] juergenr commented on #163
Hi @sharwell

4.5.4-beta001 is working well know!
(I checked out master before, but somehow used the old Antlr4.CodeGenerator)

I really appreciate your work.
Thank you!

[2016-10-08 19:32] sharwell commented on #163
@juergenr Thanks for the feedback. I had no prior confirmations that the new code behaved as expected so it's really great to know it's working for you.

[2016-10-23 20:52] ionuttamas opened #165 "How to get the AST of a C code in C#?"
Hello,

I just want to be able to get the AST of a C program in my C# application.
I've taken the ANTLR specification from [here](https://github.com/antlr/grammars-v4/blob/master/c/C.g4) and I want to know how can I get the AST of a C code using this file.

Could anyone point me to the right track here?

PS: I have no idea on how to use that .g4 file also.

[2016-10-26 14:24] manchas opened #166 "Is there a way to generate internal partial classes (instead of public ones)?"
Hi, thanks for the excelent work.

[2016-10-26 14:43] manchas commented on #166
It's already answered here... http://stackoverflow.com/questions/23217952/antlr-generated-classes-access-modifier-to-internal
It would be a nice addition though, because been forced to "expose" the lexer and parser to outside consumers of your library is not necessarily a good idea...

[2016-10-26 14:43] #166 closed

[2016-11-14 17:34] sharwell commented on #165
The steps in the [project readme](https://github.com/tunnelvisionlabs/antlr4cs#readme) should provide information on using a grammar file in a C# project. I don't have any experience working with the specific grammar you indicated in an application (it's developed and maintained as part of a different project).

[2016-11-14 17:34] #165 closed

[2016-12-21 15:17] makhan7 opened #167 "Antlr4 doesn't support .NetCoreApp"
Does Antlr4 support .NetCoreApp yet? as I am having several issues such  try to generate *g4 (which basically have lexer and parser classes but no help).
I have read almost all the articles on github regarding Antlr4/.NetCore but so far no help.

We are going to rewrite our app because of Antrl4 doesn't support .Net Core and we are bringing up full .net Framework. Are we going in the right directi

[2016-12-21 16:50] sharwell commented on #167
The first release of ANTLR 4 which should support .NET Standard is [4.5.4-beta001](https://www.nuget.org/packages/Antlr4/4.5.4-beta001). If you want to generate code on the command line, you will need to use the Jar files located in the [Antlr4.CodeGenerator](https://www.nuget.org/packages/Antlr4.CodeGenerator/4.5.4-beta001) package from NuGet. However, the goal (and only truly intended scenario)

[2016-12-21 17:26] makhan7 commented on #167
thank you for your reply Sam, My scenario is I have two separate projects. created to test ANTLR4 before using ANTLR4 directly with the main .NetCore solution.
Project 1 (Standard .Net Framework) ----everything works with ANTLR
Project 2 (.Net Core App) ------ not working even use Antlr.CodeGen
do you have a working copy ANTLR with dotnet Core app or steps to generate g4 file?

I tried to generate

[2016-12-21 20:04] sharwell commented on #167
@makhan7 I'll have to take a closer look and build some examples to make sure everything is working fine. That said, I can see that you're using the wrong dependency. The NuGet package for the C# target runtime library is [Antlr4.Runtime](https://www.nuget.org/packages/Antlr4.Runtime/4.5.4-beta001).

[2016-12-21 22:23] makhan7 commented on #167
How can email or upload zip file with the source code here?  I have simple console apps one is dotnet core based another one is standard dotnet framework app.

[2016-12-22 01:49] sharwell commented on #167
Thanks! It might be a few days before I get the chance but it's helpful to have a repo handy

[2016-12-22 08:56] GeorgDangl commented on #167
[Here's also an example app](https://github.com/GeorgDangl/Dangl.Calculator) that's targetting NETStandard 1.3 with Antlr4.
Here's the build script I use on Windows machines:
[code]

[2016-12-22 18:51] makhan7 commented on #167
@GeorgDangl  your example includes NETStandard 1.3 with Antlr4. I am looking just .netcoreapp with antlr4

[2016-12-22 18:56] sharwell commented on #167
@makhan7 netcoreapp1.0 supports netstandard1.5, which is in turn a superset of netstandard1.3. If @GeorgDangl's example runs under netstandard1.3 then it also runs under netcoreapp1.0 unless something is broken.

[2016-12-22 21:26] GeorgDangl commented on #167
The [unit tests](https://github.com/GeorgDangl/Dangl.Calculator/blob/master/test/Dangl.Calculator.Tests/project.json#L19-L38) are running on netcoreapp1.0 and netcoreapp1.1 (as well as on the full .Net framework).
@makhan7, generally speaking, you can expect libraries to target `netstandard` platforms (which is basically just a definition of the API that is required for the library to work) and ac

[2016-12-22 23:37] makhan7 commented on #167
yes, everything is working now. I can successfully able to generate *g4 files. I am trying to upload a working copy

[2016-12-24 12:34] KvanTTT opened #168 "Sync repository with antlr 4.6"

[2016-12-27 00:00] sharwell commented on #168
@KvanTTT This is a complicated request that will be addressed a bit out of order. Since ANTLR 4.6 included massive changes to the unit test infrastructure that need to be modified to match the behavior differences in the optimized fork of ANTLR, I would allow up to 12 months for a complete sync to occur (based on how long it took the last time a major change like this took). I may end up discardin

[2016-12-30 07:38] lextm commented on #134
Well, it is very likely that you will end up with books such as [The Definitive ANTLR 4 Reference](https://pragprog.com/book/tpantlr2/the-definitive-antlr-4-reference) so as to learn ANTLR 4 in more details.

However, I must remind you that a language service (like Roslyn based OmniSharp) for Visual Studio (or Visual Studio Code) would be slightly different based on my own understanding, which wou

[2016-12-30 08:40] lextm commented on #167
I think I don't think the above discussion provides the minimal developer experience. First, Microsoft brought back MSBuild support in .NET SDK preview 3 (now it is preview 4 and preview 5 is coming). Thus, project.json and xproj should be gone. Second, using a batch file to generate the parser/lexer is ugly.

I just tested with a preview 4 csproj project with dotnet build, and it failed with,
[co

[2016-12-30 15:17] sharwell commented on #167
@lextm I believe I need to update the MSBuild integration so it references the .NET Standard version of MSBuild. Having the code generation automatically work on both Windows and other platforms will be *huge*. Right now I'm working on porting the code generation tool from Java to C# to fully eliminate the Java dependency. It's a .NET Standard console app, so it will work with the new MSBuild inte

[2017-01-09 22:53] MaximTrushin opened #172 "Task Antlr4ClassGenerationTask fails in mono 4.6.2 (XBuild 14.0)"
The task fails with the message "Unknown build error":

_Unknown build error: Executing command: "C:\Program Files (x86)\Java\jre1.8.0_111\bin\java.exe" -cp C:\_projects\MalinaNew\src\Malina.Antlr\packages\Antlr4.4.5.3\build\..\tools\antlr4-csharp-4.5.3-complete.jar org.antlr.v4.CSharpTool -o obj\Debug\ -no-listener -no-visitor -package Malina.Parser C:\_projects\MalinaNew\src\Malina.Antlr\MalinaL

[2017-01-12 22:53] sharwell opened #173 "Cannot build with Visual Studio 2017"
When attempting to build a project with the Antlr4 package installed, the following error is reported.

[code]

Additional information is given in the MSBuild failure log:

[code]

[2017-01-12 22:56] sharwell commented on #173
/cc @rainersigwald

[2017-01-12 23:07] rainersigwald commented on #173
Can you get a fusion log? `Microsoft.Build.Framework, Version=4.0.0.0` should be in the framework and available everywhere . . .

[2017-01-12 23:11] sharwell commented on #173
@rainersigwald Here's the additional lines when I turned on EnableLog:

[code]

[2017-01-12 23:18] sharwell commented on #173
If I copy Microsoft.Build.Framework 15.1.0.0 from my Visual Studio 2017 folder to the folder containing my ANTLR 4 build tasks (J:\dev\github\sharwell\antlr4cs\runtime\CSharp\packages\Antlr4.4.5.3\build), it works...

[2017-01-12 23:18] rainersigwald commented on #173
Are you building using MSBuild.exe, VS, or a different host?

[2017-01-12 23:19] sharwell commented on #173
Building inside Visual Studio 2017.

[2017-01-12 23:19] ben-may commented on #173
I'm personally building both from cmd line via devenv + trying in the IDE itself both result in the same problem.

[2017-01-12 23:23] rainersigwald commented on #173
How can I get a local repro?

[2017-01-12 23:26] sharwell commented on #173
1. Clone this repository
2. Open runtime/CSharp/Antlr4.sln in Visual Studio 2017 (if one project fails to load, ignore it/proceed)
3. Restore NuGet packages
4. Build Antlr4.Runtime.Test.net20

[2017-01-13 03:33] sharwell commented on #173
We're guessing this has to do with the use of app domains in the MSBuild tasks. I'll post a summary soon with some history on why that occurs and hopefully find that it's no longer as applicable as it once was.

[2017-01-13 15:52] ben-may commented on #173
@sharwell sounds good.  when will there be a new release of this package?

[2017-01-14 15:53] #168 closed

[2017-01-14 15:57] #173 closed

[2017-01-14 20:24] sharwell commented on #167
@lextm Between the C# port of the tool itself (#175) and a new MSBuild integration targeting .NET Standard (#179), it should be possible to incorporate ANTLR 4 into the .NET Core tooling. I just have a few things that I haven't quite figured out yet:

1. We only want to use the new build tasks when building with Visual Studio 2015+ or with the new cross-platform releases of MSBuild for .NET Core.

[2017-01-14 20:35] sharwell commented on #156
Definitely confusing. To avoid breaking changes in the API, I opted for commenting this.

[2017-01-14 20:52] sharwell commented on #143
@KvanTTT It's not possible to introduce a lock on the hot path in prediction. Doing so would have devastating performance implications for known users running ANTLR 4 in highly concurrent environments. For now I'm documenting that `ClearDFA` is not safe for concurrent use with the explicit additional note that the `ATN` instance is shared by default across recognizer instances (`Lexer` and `Parser

[2017-01-14 21:06] sharwell commented on #97
@DanMcLaughlin I couldn't find any cases where `TokenNames` wasn't already marked `Obsolete`, but I took the opportunity to improve the messaging across the board.

[2017-01-14 21:09] sharwell commented on #35
I'm going to mark this as a duplicate of #109 since that one has newer information.

[2017-01-14 21:09] #35 closed

[2017-01-14 21:20] sharwell commented on #173
@ben-may I'm expecting a new pre-release build later today. Hopefully I can figure out some sort of a resolution for cross-platform users before the next stable release.

[2017-01-14 21:29] #97 closed

[2017-01-14 21:29] #161 closed

[2017-01-15 09:54] lextm commented on #167
@sharwell

1. I think the scope should be set to Visual Studio 2017+ instead of 2015+, as .NET Core support in VS2015 is so fragile, and I am not sure if Microsoft later will fix it. It would be quite difficult if you want to also support VS2010-2013. Maybe a separate set of NuGet packages should be published.
2. I am not too much worried at .NET Framework 4.5+ requirement, as Microsoft officially

[2017-01-15 17:02] sharwell commented on #167
@lextm

The limitation I was referring to is applied by MSBuild and NuGet support limitations. Microsoft released a stable API for MSBuild targeting .NET Standard with apparent support for MSBuild 14, which coincides with the version shipping with Visual Studio 2015 (or one of its updates). It's possible that it's not usable inside the IDE for .NET Core prior to Visual Studio 2017.

The project pr

[2017-01-16 06:15] sharwell commented on #173
@ben-may It's going to take a little longer than expected (by about a week). In the meantime, it will work if you manually copy the Microsoft.Build.Framework.dll from your Visual Studio 2017 folder into the folder on your machine containing Antlr4BuildTasks.net40.dll (it's part of the Antlr4.CodeGenerator NuGet package which your project is referencing).

[2017-01-16 15:19] ben-may commented on #173
@sharwell thanks!  I can wait another week, I'll just continue to build it with VS2015 for now until your fix is released.

[2017-01-24 16:48] MaximTrushin commented on #172
Thank you for looking into this issue! I really appreciate your work on this project.

[2017-01-24 16:56] sharwell commented on #173
I've added this to my [Versioning](https://github.com/orgs/tunnelvisionlabs/projects/1) project that I'm now using to keep track of the _many_ issues that I need to resolve to support Visual Studio 2017 in various ways.

[2017-01-27 21:58] #143 closed

[2017-02-22 00:15] ben-may commented on #173
hey @sharwell any updates on a new release being posted?

[2017-03-02 17:57] daniel-smith commented on #160
The output is actually in `IntermediateOutputPath` rather than `BaseIntermediateOutputPath`, meaning that the generated files also go under the `Configuration` folder (e.g. debug or release). This makes it difficult to manage in automated build environments. Also, changing `BaseIntermediateOutputPath` or `IntermediateOutputPath` impacts the entire project including non-related files, which may not

[2017-03-02 19:24] sharwell commented on #160
@daniel-smith You are correct that the intermediate directory contains all of the intermediate output, and not just the generated files.

Can you provide more information and/or examples about this? I may already have examples available for how to address your scenario(s).

There are a few reasons why this is not currently configurable. This location has the following advantages which makes it ide

[2017-03-03 10:42] daniel-smith commented on #160
@sharwell - thanks for your quick response. Re my comment about difficulty in automated build environments, I'm just referring to the fact that if we are building in release rather than debug, we need to accommodate for the fact the the generated files will live in a different folder. E.g. I need to link to files that live in obj/debug while I'm developing, but when I'm building a release package

[2017-03-03 12:15] daniel-smith commented on #160
Just an update, I've actually taken the advice here - https://github.com/antlr/antlr4/tree/master/runtime/CSharp - which suggests that we can directly use the latest antlr4 tool to gen C# bindings. I've been able to successfully add this to my build without too much effort, and can specify any output directory for the generated files.

[2017-03-03 13:36] sharwell commented on #160
The files are automatically added to the build. There is no need to link them yourself.

Keep in mind that I don't work on that port at all. You'll lose the [features and performance](https://github.com/tunnelvisionlabs/antlr4/blob/master/doc/optimized-fork.md) gained by the original C# runtime I maintain, and you'll also no longer be covered by the much stronger breaking changes policy covering b

[2017-03-03 17:16] daniel-smith commented on #160
Just wondering what you mean by this. I had to manually link the generated files from the obj/debug directory. Seems like I'm missing something.

[2017-03-03 17:42] sharwell commented on #160
@daniel-smith Linking is not required. They will be part of the compiled build output whether or not you add those links.

[2017-03-03 18:02] daniel-smith commented on #160
So it does indeed. Very nice.

[2017-03-07 11:09] sebandraos commented on #173
@sharwell With the RTM of VS2017 today I assume there will be a few people, like me, keen to move over. Do you have a revised update estimate? Cheers

[2017-03-07 13:13] #156 closed

[2017-03-08 03:15] sharwell commented on #173
@sebandraos @ben-may Should be fixed with release 4.6.1-beta001. I have several things in store for coming releases but if you can put this through it's paces I'll get a stable 4.6.1 release out and push off the other items.

[2017-03-08 08:29] sebandraos commented on #173
Thanks Sam @sharwell I will update our relevant projects today and let you know if anything isn't working as expected.

[2017-03-08 16:13] ben-may commented on #173
thanks @sharwell I'll try it also and see what happens :)

[2017-03-08 16:53] ben-may commented on #173
Hey @sharwell
Straight upgrade to that version I see this in my build error output:

1>D:\packages\Antlr4.CodeGenerator\4.6.1-beta001\Antlr4.CodeGenerator.4.6.1-beta001\build\Antlr4.CodeGenerator.targets(110,5): error AC1000: Unknown build error: The system cannot find the file specified

Any idea what file it cannot find?  Can I add any debugging flag to the Antlr4ClassGenerationTask to get more

[2017-03-08 16:55] sharwell commented on #173
@ben-may

1. What version were you upgrading from?
2. Did you restart Visual Studio after upgrading?

Try restoring NuGet packages by right clicking on the top (solution) node in Solution Explorer and restarting Visual Studio.

Is your project open source (where I can see a branch with the changes)?

[2017-03-08 16:59] ben-may commented on #173
Upgrading from 4.5.0-alpha003

I did not restart VS, but I just tried that now, and it didn't seem to make a difference.
Unfortunately the code is not OS, so I cannot share it.

[2017-03-08 17:09] sebandraos commented on #173
@ben-may Interesting that you found that. I did a few funny things to the project that I'm testing this on that forced me to remove and re-add the NuGet package and I have regenerated code a number of times without issue today. Obviously that is no help to you but for @sharwell 's sake it's not a ubiquitous issue. I was previously on 4.5.4-beta001 and since this update am obviously in VS2017

[2017-03-08 18:29] sharwell commented on #173
I did find #187 when testing this in Visual Studio 2017, but otherwise it appears to be working for me. @ben-may Can you try deleting your packages folder and restoring packages again?

[2017-03-08 18:46] ben-may commented on #173
I tried that earlier as well, but gave me the same issue.  any way I can help debug what file its trying to find?

[2017-03-08 18:50] sharwell commented on #173
@ben-may What kind of project are you using? Your packages folder structure from the error is different from mine.

[2017-03-08 18:53] sharwell commented on #173
@ben-may Since this doesn't appear to affect everyone, can you create a new issue for it? I believe it's project-type specific.

[2017-03-08 19:32] ben-may opened #188 "4.6.1-beta001 issue with Antlr4.CodeGenerator.targets"
Upgrading from 4.5.0-alpha003 to 4.6.1-beta001

I see
1>D:\packages\Antlr4.CodeGenerator\4.6.1-beta001\Antlr4.CodeGenerator.4.6.1-beta001\build\Antlr4.CodeGenerator.targets(110,5): error AC1000: Unknown build error: The system cannot find the file specified

Any idea what file it cannot find? Can I add any debugging flag to the Antlr4ClassGenerationTask to get more info?

[2017-03-08 19:33] ben-may commented on #188
@sharwell Its just a standard .csproj, however, we wrap nuget packages in our own build system, which handles downloading them and placing them in our own packages folder.  So there is likely an issue with that, but its hard for me to figure that part out without knowing what file that target is looking for.

[2017-03-08 19:39] sharwell commented on #188
:question: Do you have any files in your project with the build action set to **Antlr4Tokens**? I'm assuming not.

It's looking for the Java runtime. If you don't have one on the build system, it's looking for ikvm.exe which is included in the tools directory of the NuGet package.

[2017-03-08 22:32] lextm commented on #188
I tested in both traditional .NET Framework class library and .NET Standard class library and could not reproduce this issue. There might be something special about this project @ben-may uses.

[2017-03-08 23:42] ben-may commented on #188
ok thx guys, I bet it has something to do with our build system.  Will have to debug it later more.
I do have the ikvm.exe here:
D:\packages\Antlr4.CodeGenerator\4.6.1-beta001\Antlr4.CodeGenerator.4.6.1-beta001\tools\ikvm.exe
as well as the jar:
D:\packages\Antlr4.CodeGenerator\4.6.1-beta001\Antlr4.CodeGenerator.4.6.1-beta001\tools\antlr4-csharp-4.6.1-SNAPSHOT-complete.jar

The csproj contains the

[2017-03-08 23:45] ben-may commented on #188
Yeah manually fixing those gets things working!
I'm guessing I just have the dependencies setup wrong or something in our build system.
I'll re-open if I find that its not my own issue :)
Thanks for your time.

[2017-03-08 23:45] #188 closed

[2017-03-08 23:46] ben-may commented on #173
So disregard, the issue I was happening is a local config issue, after resolving that it seems to now work.  So I think the issue is resolved for me with this 4.6.1-beta001 version.

[2017-03-09 00:59] lextm opened #189 "ANTLR cannot generate 'org.antlr.v4.codegen.target.CSharp_v1_3Target' code as of version 4.6.1-SNAPSHOT"
This is a .NET Standard 1.3 class library project in Visual Studio 2017 RTM. Upgraded to ANTLR latest NuGet package (prerelease), and compilation triggers,
[code]
I can easily use [the workaround mentioned in this blog post](https://mhusseini.wordpress.com/2014/02/16/antlr-cannot-generate-org-antlr-v4-codegen-csharp_v4_5_1target-code-as-of-version-4-1-snapshot/), but do hope the tooling can be imp

[2017-03-09 01:02] lextm commented on #167
Just tested 4.6.1-beta001 in a netcoreapp1.1 console application and it seems to work.

[2017-03-09 02:07] ryanlin1986 opened #190 "Can not build project with vs2017"
After upgraded to vs2017, the following error occurs when building:
Rebuild All started ...

  Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified. ---> System.IO.FileNotFoundException: Could not load

[2017-03-09 02:16] sharwell commented on #188
@ben-may Yes those properties are not set as part of the standard installation so a problem there would be unique to your build system. Glad to hear it's working!

[2017-03-09 02:28] sharwell commented on #190
This is a duplicate of #173. I released a beta with initial support (4.6.1-beta001), but it has a couple minor bugs that I'm fixing tonight for a beta002.

[2017-03-09 02:28] #190 closed

[2017-03-09 02:30] #189 closed

[2017-03-09 10:51] sebandraos commented on #167
The only issue I'm having is in testing a fresh .NETStandard library. Without using the ANTLR Language Support extension (in VS2017) I am unable to set the Build Action to Antlr4. I can, however force the change in the csproj and it works but the Build Action in the grammar file properties remains None. This is using the latest nuget package, 4.6.1-beta002. @sharwell Is this just a case of me jump

[2017-03-09 12:50] sharwell commented on #167
@sebandraos Can you file a new bug for that? I am able to reproduce it locally and want you to have the credit for finding it.

[2017-03-09 13:00] sebandraos opened #193 "Unable to set grammar Build Action in .NETStandard Library in Visual Studio 2017"
In a .NETStandard library, in VS2017 therefore without the ANTLR Language Support extension, I am unable to change the Build Action of the grammar file to Antlr4. I can force the Build Action by changing the csproj directly and the files are all generated as necessary but the Build Action in the grammar file properties remains None. This is using the latest NuGet package, 4.6.1-beta002.

[2017-03-09 13:01] sebandraos commented on #167
There we go, #193

[2017-03-09 14:01] sharwell commented on #193
This appears to be a bug in the new project system. I filed dotnet/roslyn-project-system#1715 for it.

[2017-03-09 21:38] sharwell commented on #193
@sebandraos Looks like there's nothing we can do about this in the current release. 😟

[2017-03-10 03:00] lextm opened #194 "VS2017 IntelliSense reported "The name 'ErrorHandler' does not exist in the current context""
Error	CS0103	The name 'ErrorHandler' does not exist in the current context	SomeProject	C:\Users\lextm\Downloads\SomeParser.cs	165	Active

The project (.NET Standard 1.3 class library) compiles perfectly, but with "Build + IntelliSense" selected in Error List panel, I can see false alarm generated. If using "Build Only", of course everything is fine.

It seems to be a bug of Roslyn but who knows. Y

[2017-03-10 08:56] ryanlin1986 commented on #190
Thanks for the help;)

[2017-03-10 09:51] abergs commented on #173
@sharwell Installed beta002 and compilation worked me on VS 2017 Enterprise

[2017-03-13 09:30] sebandraos commented on #193
@sharwell Ah well, we'll have to wait and see then.
P.S. All of my tests in VS2017 are running fine.

[2017-03-13 12:30] lextm commented on #193
@sebandraos That's going to be a long wait. They mark it for 16.0, which means should be VS vNext, not an update of VS2017.

[2017-03-13 18:16] sharwell commented on #193
Well at least it's only a display error...

[2017-03-21 15:19] wjrogers opened #195 "Antlr4Compile fails on TeamCity 10.0.5 w/ Microsoft Build Tools 2017: Could not load file or assembly Antlr4BuildTasks"
I have converted one of my projects to the new `project.json` nuget reference format and upgraded the Antlr4 package to 4.6.1-beta002. The latter fixed the initial build issues I encountered in Visual Studio, but I'm still having trouble building this project in TeamCity:

The assembly is present in the same folder: `C:\Users\Services\.nuget\packages\antlr4.codegenerator\4.6.1-beta002\build\Antlr4

[2017-03-21 15:47] wjrogers commented on #195
Here's an assembly binder log. It looks like it's trying to load the task from the wrong path?
[code]

[2017-03-21 18:22] wjrogers commented on #195
I have also tried changing nuget restore to use NuGet 4.0.0. This produces somewhat different output in `project.lock.json`:
[code]
However, the outcome is worse: msbuild doesn't run the `Antlr4Compile` task at all. I'm not sure how to troubleshoot further from here.

[2017-03-21 19:33] wjrogers commented on #195
This is starting to look more like a TeamCity bug to me, so I have reported it to JetBrains here: https://youtrack.jetbrains.com/issue/TW-49205

Going to leave this open for now because I'm still not sure of the root cause.

[2017-03-22 09:26] sebandraos commented on #195
It was my understanding that as of the release of VS2017 and the associated tooling that the json project files had now been deprecated. I have encountered similar problems when building with TeamCity with the json setup in .NetStandard projects but had put it down to the aforementioned issue.

[2017-03-22 14:04] wjrogers commented on #195
I'm talking about `project.json` the NuGet replacement for `packages.config`, not `project.json` the .NET Core project file format. The latter was deprecated and subsequently removed from the tooling. The NuGet `project.json`, however, is still documented as the official new format for specifying NuGet package dependencies in .NET projects:

https://docs.microsoft.com/en-us/nuget/schema/project-js

[2017-03-23 02:11] lextm commented on #195
@wjrogers you probably will soon say goodbye to `project.json` for NuGet, as `PackageReference` with MSBuild 15 is clearly the future,

http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

[2017-03-23 02:37] wjrogers commented on #195
@lextm like I said in my previous post, `PackageReference` isn't stable enough yet (see for example https://github.com/NuGet/Home/issues/4532). I would like to enjoy the benefit of the new reference workflow now. The NuGet documentation says `project.json` is the reference file format for NuGet 3.x. It is working correctly for me in every scenario except for the one in this issue. I am pretty sure

[2017-04-13 20:29] willson556 opened #197 "Difference in parsing between Java & Optimized C#"
With the following grammar, I cannot get hexadecimal constants in expressions to parse correctly in the optimized C# target. I've tried v4.5.3 and v4.6.1-beta002. Interestingly they are parsed correctly in function calls.

The following example results in a `no viable alternative at input 'xFF<<'` message in the C# target:
`user1 = 0xFF << 2`.

[code]

[2017-04-14 08:37] sebandraos commented on #197
My immediate assumption is that the 0 is being "stolen" by the IntLiteral lexer rule and therefore "x..." does not match, as the error says. I have a feeling lexer rules are read bottom to top so try swapping HexLiteral and IntLiteral around in your grammar file

[2017-04-14 14:47] achedges opened #198 "VS 2012, trying to install from Nuget, "External packages cannot depend on packages that target projects""
I've found the pre-release "ANTLR 4" package, id 'Antlr4', but I'm receiving this error when trying to install, after selecting the VS project (which is brand-new).  I'm not familiar enough with Nuget to know how to look for a solution.

Also, I'm not opposed to using the standard ANTLR jar to output C# files, but there are a handful of errors that have to be manually fixed when doing that (incorr

[2017-04-15 01:12] lextm commented on #198
When you are not familiar with the necessary bits, use the stable version instead of pre-release version first.

[2017-04-15 01:23] achedges commented on #198
Fair enough, but Step 4 in the read-me says "...change selection to Include Prerelease".  I assumed it said this for a reason.

[2017-04-15 02:53] lextm commented on #198
The Readme file is more developer oriented I think. You can read "Pre-release Builds" section,

Besides, it is very strange that you met "a handful of errors". You should show them with details instead of asking others to guess.

[2017-04-15 03:45] achedges commented on #198
The 'handful of errors' are simple code issues in the generated lexer/parser (for example, referencing a method name with the wrong capitalization).  These code files were generated using "java -jar antlr-4.6-complete.jar -Dlanguage=CSharp mygrammar.g4".  I had already worked around these issues by modifying the generated code, and had produced a working project as a proof of concept.

Now I need

[2017-04-17 18:26] willson556 commented on #197
@sebandraos I tried swapping them and that doesn't fix the problem. I agree that it seems like the 0 is getting stolen. It's my understanding that regardless of the order, the lexer should be trying for the longest match as the Java version is correctly doing.

[2017-04-17 18:50] sebandraos commented on #197
You're absolutely right, and so says @sharwell in this SO answer http://stackoverflow.com/questions/18787242/antlrv4-non-greedy-rules
Any chance you could try splitting the HexLiteral rule into two lexer rules and combining them in a Parser rule? If that works then I may well have encountered the same issue. I'll see if i can rematch it to a generalisable problem.

[2017-04-19 06:47] willson556 commented on #197
Turns out it was my fault; I was using the case-insensitive input stream example from [here](https://gist.github.com/sharwell/9424666) but my hex character range was upper-case. In Java, I wasn't using the case-insensitive stream.

[2017-04-19 06:47] #197 closed

[2017-04-20 09:47] maxraab opened #199 "Roadmap for 4.6.1"
Is there a roadmap for the release of 4.6.1? As mentioned in https://github.com/antlr/antlr4/issues/1828 the current beta release fixes an issue with VS2017.
Unfortunately this problem prevents us from upgrading our infrastructure since we cannot use pre-releases.

/cc @sharwell

[2017-04-28 16:35] sharwell commented on #199
I have one small item to fix for it, but it should be easy.

[2017-05-10 08:43] maxraab commented on #199
Are there any news?

[2017-05-18 16:14] Sabmit commented on #199
Hi @sharwell,

Can we get more informations about this issue?
I'm planning to use this version, but I don't know if I should wait for the RCs

[2017-05-18 16:18] sharwell commented on #199
I'll try to get it published by EOD Saturday

[2017-05-19 07:57] GeirGrusom commented on #199
Thanks for all your work, @sharwell. It's greatly appreciated.

[2017-05-19 08:56] Sabmit commented on #199
Thanks for you quick answer and your good work !

[2017-05-23 20:15] sharwell commented on #199
Bad news and good news:

Bad: I spent the weekend sick and didn't make this deadline.
Good: It just became a relevant issue at work work.

[2017-05-29 22:30] dosvidos opened #200 "Diagnostics message is always printed to MSBuild log as an "Unknown build error""
The message

 is always written as a "normal" severity message
It's generated here: https://github.com/tunnelvisionlabs/antlr4cs/blob/master/runtime/CSharp/Antlr4BuildTasks/Antlr4ClassGenerationTaskInternal.cs#L317
It has no error code, so it's get assigned an AC1000 code and the error prefix here: https://github.com/tunnelvisionlabs/antlr4cs/blob/master/runtime/CSharp/Antlr4BuildTasks/Antlr4Class

[2017-05-30 06:00] sharwell commented on #199
I just pushed 4.6.1 to NuGet. 👍

[2017-05-30 06:00] #199 closed

[2017-06-06 09:25] stephendrew opened #202 "Add DebuggerDisplay attribute to contexts to show GetText()"
I was wondering whether this might be something useful - I often find myself adding debug watches to `context.GetText()`.

[2017-06-06 12:46] sharwell commented on #202
Once upon a time I had a debugger visualizer for these...

[2017-06-11 00:50] jamesqo commented on #193
Regarding this snippet from the original post:

Are there plans to allow installing this extension on VS2017? There is an issue about this (with a lot of upvotes) [here](https://github.com/tunnelvisionlabs/LangSvcV2/issues/80) and already a pull request for it [here](https://github.com/tunnelvisionlabs/LangSvcV2/pull/81/files).

[2017-06-12 22:58] tdjastrzebski opened #203 "nothing happens"
I installed latest VS 2015 "ANTLR Language Support" extension and restarted VS.
Next I added existing g3 combined grammar/lexer, referenced Antlr3 nugget package, including the Runtime.
G3 file properties look good (Build Action=Antlr3, Custom Tool=MSBuild:Compile) but when I rebuild the project nothing happens, Lexer/Parser classes do not get generated, no errors displayed.
What am I missing? Jav

[2017-06-13 00:01] lextm commented on #203
The lexer and parser files are in the folder `obj/Debug` if you are working on a debug build.

[2017-06-13 14:08] tdjastrzebski commented on #203
Thank you!
obj/Debug is the place where I would not look for those files since adding g3/g4 files lexer/parser c# source files are generated underneath with *.g3.lexer.
Is not it a bug?

![image](https://user-images.githubusercontent.com/7325277/27086459-88d311de-5052-11e7-88e4-ccf4d0ecaf71.png)

[2017-06-13 17:01] tdjastrzebski opened #204 "grammar colors"
By default grammar file is displayed in colors making it really difficult to read in VS dark color scheme.
How to modify these color settings? Sample attached.

![image](https://user-images.githubusercontent.com/7325277/27094531-9c21cbfa-506a-11e7-87d0-d8b357194c78.png)

[2017-06-13 17:05] #204 closed

[2017-06-13 18:41] tdjastrzebski commented on #203
OK, so generated files should only be present in OBJ folder.
Now, tool Antlr3 generated parser rules are all marked 'private'.
Is there any way to modify it?

[2017-06-13 19:04] tdjastrzebski opened #205 "no rules accesibility (g3)"
Parser rules generated from Antlr3 grammar are all marked private.

[2017-06-13 19:07] tdjastrzebski commented on #203
Ok, so, when g3 file is added to the project those *.g3.lexer.cs and and *.g3.parser.cs files should not be generated. After removing them it almost compiles - see #205

[2017-06-13 20:39] sharwell commented on #205
:memo: This is the repository for ANTLR 4, which does not support the feature you describe. The repository for the ANTLR 3 C# target is [antlr/antlrcs](https://github.com/antlr/antlrcs).

This is by design. For any rule you want to call from outside code, mark it `public` or `protected` in your grammar file, [line this](https://github.com/antlr/antlrcs/blob/master/Antlr3/Grammars/ANTLR.g3#L238-L23

[2017-06-13 20:39] #205 closed

[2017-06-13 20:41] sharwell commented on #203
:memo: This is the repository for ANTLR 4, which does not support the feature you describe. The repository for the ANTLR 3 C# target is [antlr/antlrcs](https://github.com/antlr/antlrcs).

This is actually a feature of both the ANTLR 3 and ANTLR 4 C# releases. These files allow you to write C# code which is added to the same `partial class` as the generated code, but is placed in a different file.

[2017-06-13 20:41] #203 closed

[2017-06-14 02:15] lextm commented on #203
@sharwell Most users won't know this for the first time. So you might put it somewhere more explicit. Especially for ANTLR 3 and 4, it is very important to know where such files locate, and then you can open them in VS and set break points to debug the code.

[2017-06-14 02:20] sharwell opened #206 "Document location of generated code"
Currently the [Generated Code](https://github.com/tunnelvisionlabs/antlr4cs#generated-code) section of the readme is incomplete. It should be updated to include information about the location where generated code is placed during a build.

[2017-06-14 02:20] sharwell commented on #203
@lextm I filed #206 for that.

[2017-06-14 05:09] tdjastrzebski commented on #203
I believe lexer/parser code should be placed in *.g3.lexer.cs and and *.g3.parser.cs files 'under' the grammar file - but it is not. It gets placed in OBJ folder.

[2017-06-14 05:18] tdjastrzebski commented on #205
Thanks, I think years ago this feature was not available and all rules were generated public. I try to revitalize project created over to years ago

[2017-06-14 05:50] sharwell commented on #203
@tdjastrzebski The base location of the generated files has not changed since I first implemented it in Oct. 2009. It's late now, but if you want I can explain some of the reasons behind the original decision tomorrow (let me know if you are interested).

There is no need to have the ANTLR Language Support extension installed, although it does make some things easier. The only thing you do need is

[2017-06-14 22:33] jamesqo commented on #193
@sharwell Regarding this actual issue, I am currently trying to move a grammar and its autogenerated code into a .NET Standard library from a Xamarin app. For some reason, the code is no longer being generated. I'm using Antlr4 4.6.1. Here's my project file:

[code]

(You can view the other files in my project [here](https://github.com/jamesqo/Repository/blob/master/Repository.EditorServices/Repos

[2017-06-15 08:44] tdjastrzebski commented on #203
@sharwell I think more standard approach (that is, code generated 'under' g3/g4 files) would greatly improve the initial experience. Adding ANTLR grammar file (both g3 and g4) via 'add new' results in separate *.g3.lexer.cs and *.g3.parser.cs being added but upon build the content does not change. I think that was the main source of my confusion. Anyway, thank you for keeping ANTLR alive.

![image

[2017-06-15 13:49] lextm commented on #203
@tdjastrzebski That would be a source control unfriendly approach. Automatic generated files should not be put into the project folder (I know resx and WinForms, but that was designed in the old days).

[2017-06-15 22:07] tdjastrzebski commented on #203
@lextm ASP.Net forms 'designer' classes, EF/EDMX data entities are generated the same way, EF Core generated entities and similar are typically placed with the rest of the source code etc. The practice of generating source code into obj folder is not standard. Actually, it is the first time I see such solution.
Why you call it 'source control unfriendly approach'? Current approach is dangerous. Th

[2017-06-16 21:37] tdjastrzebski commented on #203
@lextm Also, I am not sure I understand "source control friendly approach". Two *.cs files less in the repository changing when the g3/g4 files change? Och, come on.

[2017-06-16 22:36] lextm commented on #203
@tdjastrzebski but once the generated files change, you will see miserable diff. That can lead to significant problems when you need to merge among branches.

WinForms files are typical examples in the past, which bothers too many people. Though I agree grammar files change less frequently, leaving the generated files out of sight can ultimately solve this issue for all.

[2017-06-17 06:32] tdjastrzebski commented on #203
@lextm There is nothing which forces developer to commit changes with each change in grammar file.
I think solving this not such a big problem you created bigger issues - as I described.
Anyway, I am done with changes I had to make, moved parser/lever *.cs files to the project root where they belong to, uninstalled ANTLR besides runtime and I am good to go. Thanks for a good discussion.

[2017-06-17 14:38] sharwell commented on #203
@tdjastrzebski One of the design requirements for this project is the isolated action of running a build is not allowed to change files that are checked into source control. There are two reasons why this is a requirement (meaning no option that did not provide this was even considered):

1. Some source control systems lock files (read only). In these cases, attempting to modified the files during

[2017-06-17 19:08] tdjastrzebski commented on #203
@sharwell Next time I may need to do some more changes may be in VS 2020 .Net Framework 5.5. Do you guarantee ANTLR build process as is will be supported?
If I ever modify the grammar file I would know I have to recreate parser/lexer.
The only source control system I care about these days is Git.
I am not saying the parser/lexer code should modify during the build but I would expect VS extension t

[2017-06-17 20:48] sharwell commented on #203
I've never made any guarantees, but history suggests the chances are good.

The code is modified when the grammar is saved, and you don't need the VS extension installed to have this work.

The way I chose is the one way to guarantee the build output does what the user expected. In each alternative suggested to date, there are examples of project configurations and/or usage scenarios where the bui

[2017-06-17 20:57] tdjastrzebski commented on #203
And I did it because I did not FEEL safe. Maybe it is just bad experience.
Perhaps other users just have a different perspective.

[2017-06-20 03:51] mokeyish opened #207 "Can the antlr generate csharp interface code fileName start with ‘I’？"

[2017-06-20 04:36] sharwell commented on #207
It perhaps could, but this file is also an intermediate build artifact that's never really exposed for editing. The header is intentionally written to avoid triggering even strict checks for file name, such as a user setting [SA1649](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1649.md) to Error severity. Can you describe the problem that you're encountering as

[2017-06-20 04:43] mokeyish commented on #207
@sharwell Think you for your replying，I try to use antlr4 with .NET standard 1.6,but it seems dose not reference the generated code file  . I want copy the the generated code file to project directly ,but the fileName ...

[2017-06-20 04:46] sharwell commented on #207
@mokeyish Can you file a bug describing the steps to reproduce the issue? The most recent release (4.6.1) is *supposed* to support .NET Standard scenarios, meaning everything should just work without having to take manual steps.

[2017-06-20 04:55] mokeyish commented on #207
@sharwell , Ha ha ~ ,I find a better way to reference the generated code file just now .and it works well.Select the reference the generated code file in ‘obj/debug’, then right click include in project. here is the scrrenshot of ‘project.csprj’ file 。
![baidushurufa_2017-6-20_12-49-45](https://user-images.githubusercontent.com/16131917/27317137-1e1144b4-55b7-11e7-9d34-fcba9e229583.png)

[2017-06-21 14:49] tsutomi commented on #195
I have a similar situation that I suspect has the same origin of this case, although it's happening on AppVeyor and not in TeamCity (not sure what infrastructure AppVeyor uses, maybe TeamCity).

In my machines I'm mounting VS2017 (that means I'm using the new MSBuild project) and I am developing the .NET Core version of a SQL database system ([DeveelDB Core](https://github.com/deveel/deveeldb.core

[2017-06-21 14:56] sharwell commented on #195
@tsutomi That would be a separate bug related to the use of `dotnet` tooling.

[2017-06-21 15:08] wjrogers commented on #195
Forgot to update this issue, but I was able to get my build working using `PackageReference` in old/classic `csproj` projects with the release of Visual Studio Build Tools 15.1 and NuGet 4.1.0. The tool bug I mentioned earlier has been fixed (https://github.com/NuGet/Home/issues/4532). Doesn't fix the issue reported here, exactly, but at least there's a path forward now.

[2017-06-21 15:34] tsutomi commented on #195
@sharwell can you reference the issue and eventually the solution for the bug? Is it there around any sample VS2017 MSBuild .csproj file that I can use as reference?

[2017-06-26 06:47] tsutomi opened #208 "Compilation Issues on .NET Core"
I've posted this issue as comment to another issue, but in that conversation I've been informed the causes are different.

I am developing a SQL system ([DeveelDB](https://github.com/deveel/deveeldb.core)) based on .NET Core framework, using ANTLRv4 for the SQL parsing.
The project is a .NET Core with Visual Studio 2017 project model (MSBuild), targeting the version 1.1 of the framework: in all of

[2017-06-28 21:14] VHaravy commented on #208
I have seen a similar issue with my projects as well. It seems that `Antlr4BuildTasks.dll` assembly references MSBuild assemblies with version 4.0 that are not present when using .NET Core. I suggest to reference MSBuild libraries from [NuGet](https://www.nuget.org/packages/Microsoft.Build.Framework/15.1.1012) and moreover it might be better to include them into the Antlr4's NuGet package.

[2017-06-29 06:48] tsutomi commented on #208
@VHaravy I have referenced all the build libraries, as I described in my issue report, but it still didn't work: I presume the libraries for .NET Core are not the same used by ANTLRv4 tasks

[2017-06-29 13:23] tsutomi commented on #208
I posted the question to the AppVeyor's team and they fixed the issue by removing the `--configuration Release` switch in the `dotnet test` script.
Curiosly, anyway, the same didn't happen on Travis, that probably uses a different build image than AppVeyor's

[2017-07-06 18:27] #193 closed

[2017-07-06 18:50] #207 closed

[2017-07-06 18:51] sharwell commented on #198
This appears to be a limitation in older versions of NuGet, which would be difficult to work around while continuing to properly support newer versions. You may need to *install* these packages using a newer version of Visual Studio, after which point Visual Studio 2012 will still be able to *restore* these packages during a build.

[2017-07-06 19:14] sharwell commented on #110
Starting with #209, the code generator will work across platforms.

[2017-07-06 19:15] sharwell commented on #90
This was fixed in #178.

[2017-07-06 19:15] #90 closed

[2017-07-06 19:17] sharwell commented on #172
Duplicate of #200

[2017-07-06 19:17] #172 closed

[2017-07-06 22:08] #160 closed

[2017-07-06 22:08] #206 closed

[2017-07-06 22:08] #109 closed

[2017-07-06 22:09] #110 closed

[2017-07-06 22:09] #167 closed

[2017-07-06 22:09] #195 closed

[2017-07-06 22:09] #208 closed

[2017-07-07 02:44] #200 closed

[2017-07-11 09:19] sebandraos opened #216 "Antlr4ClassGenerationTask Fails with missing dependencies on NETStandard"
Hi Sam,
I'm having some issues with the latest versions of ANTLR on NETStandard. Namely when I build the Antlr4ClassGenerationTask throws because
`Error	AC1000	Unknown build error: Could not load file or assembly 'System.Diagnostics.Process, Version=4.0.3.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.	ANTLRStandard	C:\Use

[2017-07-11 12:27] tsutomi commented on #216
I am encountering the exact same problem. Actually I was about to report this issue with evidences, but then I found this report.
In my case, anyway, the error occurrs with .NET Core 1.0 and .NET Core 1.1

The curious part in my case is that the build works (with some issues given by style rules) when building through console (through `dotnet build`).

![antlr4-codegenerator-builderror](https://us

[2017-07-11 12:39] sharwell commented on #216
Thanks for the repro case 👍 I should have this fixed and uploaded shortly.

[2017-07-11 13:03] #216 closed

[2017-07-11 13:04] sharwell commented on #216
4.6.3 is now uploaded 🎉

[2017-07-11 13:54] sebandraos commented on #216
I can confirm this is now working. Incredible reaction speeds Sam, always hugely appreciated.

[2017-07-14 17:39] VHaravy opened #220 "Generation fails on microsoft/dotnet Docker image"
Version 4.6.4 solved compilations issues I have had when using `dotnet` CLI tool and/or Visual Studio 2017. But there are some issues with using ANTLR4 on Linux. On my work Linux VM everything is working fine, but I have tried to use `microsoft/dotnet` Docker image for building on CI. The project does not compile. After some investigation I have found this line in the build log:

[code]

Trying to

[2017-07-14 17:43] sharwell commented on #220
@VHaravy If you run `chmod +x` manually after restoring packages, does the build work? For example, try doing this before the build:

[code]

[2017-07-14 17:46] sharwell commented on #220
This may be caused by https://github.com/NuGet/Home/issues/4424.

[2017-07-14 17:53] VHaravy commented on #220
@sharwell No, it did not. I have updated my answer (just forgot to add the results). It seems that `ikvm.exe` requires Mono or should be run in some different way. I have tried to run it with .NET CLI:
[code]

[2017-07-14 17:57] sharwell commented on #220
I actually ported the entire code generator from Java to .NET Standard. I just need to add it to the NuGet package and provide a property that you can add to your project file to enable it.

[2017-07-14 18:04] VHaravy commented on #220
@sharwell This is very good idea.

By the way, installing Java did not help. I have hoped that using IKVM is just a fallback, but it seems not.

[2017-07-14 21:55] jamesqo opened #221 "[Question] Why does APTVisitor.VisitChildren() call Accept instead of Visit?"
I noticed that [`AbstractParseTreeVisitor.VisitChildren`](https://github.com/tunnelvisionlabs/antlr4cs/blob/4737b445bd9b3aca9e576db21b981deb5c4d813d/runtime/CSharp/Antlr4.Runtime/Tree/AbstractParseTreeVisitor%601.cs#L53) calls `child.Accept(this)` on each of the children instead of `this.Visit(child)`. Doesn't the latter offer more flexibility since one would need only to override `Visit()` to mod

[2017-07-14 23:04] sharwell commented on #221
The primary concern is reducing the likelihood of a stack overflow. You can override `VisitChildren` to change the default behavior for your visitor if you'd like the extra flexibility. See antlr/antlr4#467.

[2017-07-14 23:04] #221 closed

[2017-07-15 10:59] sharwell commented on #220
@VHaravy It should work as long as the `JAVA_HOME` environment variable is defined and the executable is located at `$JAVA_HOME/bin/java`.

[2017-07-15 21:10] #220 closed

[2017-07-16 02:36] sharwell commented on #194
Hi @lextm I'm pretty sure this was fixed by #219, assuming you are using the new project system in Visual Studio 2017.

[2017-07-16 02:36] #194 closed

[2017-08-06 22:08] #130 closed

[2017-08-07 17:27] monty241 opened #242 "IKVM fails with ArrayStoreException on Visual Studio for Mac"
When running latest version of Visual Studio for Mac the code generator rails due to a Java exception when the package is 4.6.5beta001:

[2017-08-07 17:27] monty241 commented on #242
Might be solved by issue #220.

[2017-08-07 17:29] monty241 commented on #242
I have been testing with nuget 4.6.5 beta 1, but that one gives on visual studio for mac:

Target Antlr4Compile:
    Executing command: "/Users/gle3/Projects/v1/repos/itgen/dotnet/Invantive/packages/Antlr4.CodeGenerator.4.6.5-beta001/build/../tools/ikvm.exe" -cp /Users/gle3/Projects/v1/repos/itgen/dotnet/Invantive/packages/Antlr4.CodeGenerator.4.6.5-beta001/build/../tools/antlr4-csharp-4.6.5-SNAPS

[2017-08-07 17:36] sharwell commented on #242
@monty241 I decided to resolve the IKVM issue finally by porting the entire ANTLR 4 tool from Java to C# in a way that supports .NET Standard. In 4.6.5 Beta 1, this new code generator is available only by manually selecting it (the next release will include #236, which automatically enables the new code generator when Java cannot be found). You can manually enable the new code generator by followi

[2017-08-07 17:36] #242 closed

[2017-08-07 17:39] monty241 commented on #242
OK thanks, saves layers. Will test with changes on mac.

[2017-08-11 10:32] PatrickHofman opened #243 "error AC1000: Unknown build error: System.NullReferenceException: Object reference not set to an instance of an object"
When compiling a project containing a grammar on Visual Studio for Mac, I get this error message:

The call stack is:

[code]
I have updated ANTLR to the Antlr4.CodeGenerator.4.6.5-beta001 version to get support for generating on the Mac, and I use the new C# implemented code generator using the instructions found here: https://github.com/tunnelvisionlabs/antlr4cs/releases/tag/v4.6.5-beta001.

Is

[2017-08-11 14:17] sharwell commented on #243
This appears to be related to dotnet/corefx#1745. I probably should do a better job either in the ANTLR 4 Tool or in StringTemplate 4 of using URIs, but it appears that the underlying issue is resolved by .NET Core 2.0. Can you try using `dotnet build` (from release 2.0) instead of Visual Studio for Mac to compile the project, and let me know if it works in that scenario? I'll try to come up with

[2017-08-14 09:31] PatrickHofman commented on #243
I have moved now to use .NET Standard on Windows. The Mac gave me too many issues. I am not too familiar to building from the command line on Mac, so I will dive into that and let you know if that worked.

[2017-08-15 05:12] cjlotz opened #244 "Build Error for .NET Core 2 using Visual Studio for Mac"
Hi

I've just updated all the tooling on the Mac to the latest .NET Core 2 bits released yesterday.  On Windows everything compiles successfully.  On Mac, when compiling from the command line using MSBuild everything seems to work, however when compiling from within VS for Mac, I get the following error:

`Target Antlr4Compile:
    Executing command: "/Users/carell/.nuget/packages/antlr4.codegener

[2017-08-15 05:18] sharwell commented on #244
This is a duplicate of #243. I'm working on a long term solution which I plan to have available in about 3 weeks.

[2017-08-15 05:18] #244 closed

[2017-08-20 17:05] michaelneu opened #245 "Improve codegen time - compare grammar mtime to generated files"
First of all: thank you for this runtime/codegen, it works like a charm (even on .net core).

My project contains four grammars (2x split-up lexer/parser grammars), and each time I hit *Build*, it takes quite some time to generate the lexers/parsers. I observed the build process and noticed that  the lexers/parsers get recreated on every build, even if their respective grammars didn't change. My o

[2017-08-20 18:39] ryanlin1986 opened #246 "vs2015.3 .Net Core 2.0 project support"
In .Net Core 2.0 project, the g4 file can not find the Build Action "Antlr4", is it supported right now or up coming?

[2017-08-20 19:23] sharwell commented on #246
The latest beta supports code generation with the new projects. #234 expands on that support and will be part of the next preview.

[2017-08-20 19:23] #246 closed

[2017-08-20 19:25] sharwell commented on #245
This is supposed to be handled by the msbuild tasks. I'll take a look near the end of the month and see if I can reproduce this.

[2017-09-05 17:27] SheaCodes opened #247 "ANTLR MSBuild error: Duplicate items are not supported by the “Sources” parameter"
I'm posting this partly because I want to learn more about MSBuild and partly in the hope that other's don't spend as much time as I did find the solution (google searches of the error text were not helpful in my case).

I recently upgraded to Visual Studio 2017. It would crash on occasion (and subsequently every time that particular .sln was loaded). My workaround was to launch the same .sln in V

[2017-09-05 17:40] sharwell commented on #247
@SheaCodes Can you send me a copy of your project file, either in a comment on this issue or by email? I don't need the whole project, just the project file.

[2017-09-05 18:00] sharwell commented on #247
@SheaCodes If you can't send it, let me know so I can ask all my questions about it here (could take a bit this way though).

[2017-09-06 12:27] SheaCodes commented on #247
I would be happy to send via email - to what address should I send it?

[2017-09-06 13:18] sharwell commented on #247
@SheaCodes Fascinating pro-tip: Git users submit commits with email addresses. Sometimes the address will say to not contact them, but not always. GitHub hides this information from the UI, e.g. you can't see it if you view tunnelvisionlabs/antlr4cs@7f3d302739417bc2d21f01b3a1012a8af0abef6d. However, the **patch** format for viewing diffs retains this information. You can request it explicitly by a

[2017-09-06 15:06] SheaCodes commented on #247
Cool! Sent. Let's hope the NLP of spambots doesn't evolve to the point where it can comprehend and follow those directions :)

[2017-09-06 15:25] sharwell commented on #247
The underlying cause of the problem is the use of the following in the project file:

[code]

This conflicts with the files automatically added by the build tools.

My primary recommendation is to remove all modifications to **Antlr4.CodeGenerator.targets**, as they currently are defeating intentional features of it. As a alternative, you can instead try changing the explicit `<Compile>` element f

[2017-09-06 15:44] SheaCodes commented on #247
If I remove:

    <Compile Include="Path\To\Generated\(omitted)Lexer.cs" />

from the project file and restore **Antlr4.CodeGenerator.targets** to its original state I get the original **"Duplicate items are not supported by the “Sources” parameter"** error on build.

I had tried that, previously - I still think that something is adding the auto-generated files more than once. Compilation succeeds

[2017-09-06 15:48] sharwell commented on #247
Note that you would need to remove all duplicates, including the listener, visitor, and parser files. The lexer was just one of the duplicates.

By that I mean the contents should match [this file](https://github.com/tunnelvisionlabs/antlr4cs/blob/v4.6.4/runtime/CSharp/Antlr4BuildTasks/Antlr4.net40.targets) exactly. I noticed some customizations in the file that aren't mentioned above, and was sug

[2017-09-06 15:49] sharwell commented on #247
I'm going to see if there's a way we can test this.

[2017-09-06 16:42] sharwell commented on #247
Thanks, do you know what version of Visual Studio 2017 you are using (e.g. 15.2, or 15.3.3)?

[2017-09-06 16:43] SheaCodes commented on #247
I do - 15.3.3.

[2017-09-06 22:14] compsri opened #248 "Possible breaking change between versions 4.5.3 and 4.6.4"
Hi,

We're trying to update to Nuget version 4.6.4 and we noticed what appears to be a breaking change between the 2 versions. I've attached a simple grammar to illustrate this.

Test condition: "$body.properties []"

The above condition will throw a parser error with 4.5.3, which is the expected outcome. With 4.6.4, no error is thrown. I'm trying to understand if it really is a breaking change or

[2017-09-07 16:41] sharwell commented on #248
This grammar doesn't have any rules that end with EOF, so it's possible that it would suffer from antlr/antlr4#118. However, assuming everything is working correctly I would expect the output to be the following:

* No input symbols are matched
* The resulting parse tree is `(Eof <EOF>)`

[2017-09-07 17:53] mariodvm commented on #247
I have exactly the same problem, also I have VS 2017 v15.3.3

[2017-09-07 18:28] sharwell commented on #247
I was able to reproduce this.

* It appears to only occur when building inside Visual Studio (not on the command line)
* It appears to only occur when you have an Antlr4 item and a Page item (WPF) in the same project

[2017-09-07 20:09] mariodvm commented on #247
I was using WPF app, yes. I changed to Console application and it is already working!
Thanks

[2017-09-08 12:48] sharwell commented on #247
@SheaCodes I get a daily report telling me how many times this happens, but due to privacy policy it only contains a number of occurrences (yesterday was 4) and I have no way to tell anyone it's fixed. 😆

[2017-09-08 12:56] SheaCodes commented on #247
Damn. Well, at least now there is a relatively easy path of bread crumbs to follow to the solution...

(Given that people might want to mix ANTLR and WPF in the same project, is the recommended solution to change the `<Compile>` element to `<None>` in the **Antlr4.CodeGenerator.targets** file as per your comment above?)

[2017-09-08 14:50] sharwell commented on #247
So the underlying issue was caused by 5e40358823eb5a9115260b82c90bd5a41f6ea8d2 and then later fixed in bcad85aef14d1df6b0a4fefe6ee67fc4adbeb109. In the legacy project system, `$(BuildingProject)` is initially set to false and later set to true within a `<Target>`. This means it can only be referenced accurately by conditions also placed in a `<Target>`.

The good news for you today is the fix is a

[2017-09-08 14:50] #247 closed

[2017-09-08 17:31] jpwiddy commented on #243
I still have this issue, upgraded to the beta version 001 as well.

[code]
This is using dotnet cli and .NET Core 2.0

[2017-09-08 17:40] sharwell commented on #243
@jpwiddy thanks for letting me know!

[2017-09-27 20:21] timeraider4u commented on #84
Sorry for posting to an old thread, but I found this issue through Google search. The [language server protocol](http://langserver.org/) (or LSP for short) might be relevant to deal with these kind of questions. VS and other IDEs have already support for it. One drawback is that syntax highlighting is not supported yet by LSP (but it is in the backlog for the next version, see https://github.com/M

[2017-09-27 20:23] timeraider4u commented on #84
Once the mentioned issue is resolved, I will try to implement a language server for the ANTLR4 grammar itself as proposed in https://github.com/antlr4ide/antlr4ide/issues/186

[2017-10-02 14:45] jaydeept opened #249 "Unable to set Antlr4 Build Action in .Net Core 2 project in Visual Studio 2017"
I have created a .Net Core 2 project and wanted to add Grammar.g4 file. I have added Nuget packages called "ANtlr4", "Antlr4.Runtime" and "Antlr4.CodeGenerator" with latest available version 4.6.4. Somehow, I am not able to change "Build Action" to Antlr4 for my Grammar.g4 file. Because of that, it's not generating parser and lexer files. Can anyone please help here what's wrong going on?

[2017-10-02 14:54] sharwell commented on #249
Due to implementation differences in the new project system, the old methods for supporting this feature no longer work (see dotnet/project-system#113). However, I was able to add full support for this functionality (and more) in #234, which will be part of the next release.

:bulb: Note that you can still set this property by editing the project file manually. It is only the **Properties** window

[2017-10-02 14:54] #249 closed

[2017-10-02 15:26] GeorgDangl commented on #249
For me, adding this to tmy `csproj` file is working well:

    <ItemGroup>
      <Antlr4 Include="Calculator.g4">
        <Generator>MSBuild:Compile</Generator>
        <CustomToolNamespace>Dangl.Calculator.Generated</CustomToolNamespace>
        <Listener>False</Listener>
        <Visitor>True</Visitor>
      </Antlr4>
    </ItemGroup>

[2017-10-03 09:24] jaydeept commented on #249
I did try to modify `csproj` file but still not generating lexer and parser file.
I am copying my `csproj` file here. Can anyone please spot what's wrong?

  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <AssemblyName>Pds.QueryLanguageGrammar</AssemblyName>
    <RootNamespace>Pds.QueryLanguageGrammar</RootNamespace>
	<DocumentationFile>..\..\build\doc\xml\Pds.QueryLangua

[2017-10-03 09:37] jaydeept opened #250 "Unable to set Antlr4 Build Action in .Net Core 2 project in Visual Studio 2017"
I have created a .Net Core 2 project and wanted to add Grammar.g4 file. I have added Nuget packages called "ANtlr4", "Antlr4.Runtime" and "Antlr4.CodeGenerator" with latest available version 4.6.4. Somehow, I am not able to change "Build Action" to Antlr4 for my Grammar.g4 file. Because of that, it's not generating parser and lexer files. Can anyone please help here what's wrong going on?

I tried

[2017-10-03 10:53] sharwell commented on #250
It looks like your project does not contain any reference to ANTLR 4. You'll need to reference two packages in order to compile a project with a grammar:

1. **Antlr4.CodeGenerator**: This package generates code for a grammar
1. **Antlr4.Runtime**: This package contains the runtime library so the generated grammar code will compile

:memo: The **Antlr4** package is a metadata package that allows y

[2017-10-03 10:53] #250 closed

[2017-10-03 11:33] jaydeept commented on #250
I have modified my `csproj` like this. Still it hasn't generated required files.
I am seeing that `Antlr 4.6.4` is latest available. How can I get `4.6.5-beta001`?

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <AssemblyName>Pds.QueryLanguageGrammar</AssemblyName>
    <RootNamespace>Pds.QueryLanguageGrammar</RootNamespace>
  </Property

[2017-10-03 11:40] sharwell commented on #250
@jaydeept You need to replace your current `PackageReference` with the one mentioned in my comment above. The 4.6.4 release is missing commit bcad85a from #233, which is required for working with the new project system.

[2017-10-03 12:50] jaydeept commented on #250
Hi @sharwell ,

Gotcha, I installed `NuGet` package using below command:
`Install-Package Antlr4 -Version 4.6.5-beta001 `
and was able to get rid of warning it was showing earlier in Visual Studio, when I modified csproj file manually. Here is my new csproj file.

[code]
However, I am still not seeing the parser and lexer file. Do I still need to add anything in csproj file?

[2017-10-03 18:55] sharwell commented on #250
They are part of the build, but not visible in Solution Explorer. If you create a new class you'll be able to use them just fine. :smile:

[2017-10-04 11:42] jaydeept commented on #250
@sharwell ,
I finally found the issue. I did modify

in `csproj `file and hence it was not generating required file 🤦‍♂️
I needed to apply some workaround to resolve the issue.

[2017-10-04 13:04] sharwell commented on #250
Modifying this property should not cause any problems for the code generator. If it did, then it sounds like you found a bug.

Can you be more specific?

[2017-10-04 13:40] jaydeept commented on #250
Hi @sharwell,
This is the same issue like one mentioned [here](https://github.com/Microsoft/msbuild/issues/1603).
I did face that issue for `NSubstitute` as well, but applying that workaround has resolved this issue too.

[2017-10-06 14:04] psllc opened #251 "Unknown build error: "' used multiple times in set: SET"

[2017-10-06 21:04] sharwell commented on #251
This is a new one for me!

:question: Do you have the following property in your project file?

[code]

:question: Do all of your grammar files have different names?

❓ If possible, can you attach a portion of the build output containing the errors with a few lines of context?

[2017-10-06 22:58] KvanTTT commented on #251
Seems to me this is a grammar warning. See [CHARACTERS_COLLISION_IN_SET](https://github.com/antlr/antlr4/blob/4.7/tool/src/org/antlr/v4/tool/ErrorType.java#L1046) in grammars repo.

[2017-10-06 23:29] sharwell commented on #251
Nice, probably a mistake in the regular expression used to separate messages from paths in the build tooling.

[2017-10-07 00:56] psllc commented on #251
i did not have
<PropertyGroup>
  <Antlr4UseCSharpGenerator>True</Antlr4UseCSharpGenerator>
</PropertyGroup>

i added this and it did not change.

Yes, all my grammars have unique names.  this all worked before moving to VS 2017

here is the build log:

[buildlog.txt](https://github.com/tunnelvisionlabs/antlr4cs/files/1364177/buildlog.txt)

i don';t know which of the six grammars are causing the pr

[2017-10-07 03:09] sharwell commented on #251
I imagine what you are experiencing is a side effect of updating to a new version of the code generator, not a side effect of updating to 2017. Either way, we obviously need to get it fixed. I can think of two possible problems:

1. The default encoding changed from the "current system encoding" (which varies) to UTF-8. I see from your example that you have characters that are likely impacted by t

[2017-10-10 13:31] psllc commented on #251
Thank you for your time and help with this.  I've removed the 'funky' characters from the whitespace lex rule and i've saved all the grammars as UTF-8 with no resolution.  I've done a careful scan for misuse of the backslash but if it's there i'm missing it...

[2017-10-10 13:34] KvanTTT commented on #251
Strict grammar is better than weak. Of course, it will report a warning :)

[2017-10-10 13:40] psllc commented on #251
ok, so i looked again and i'm so embarrassed by  what i just found...
this  rule:

WS         :   ('\t' | '\r' | '\n' |'ï'|'»'|'¿'|' '|'\t'|'\r'|'\n')+ -> channel(HIDDEN) ;

has the tab, return, and newline characters declared TWICE.  that was causing the error...

i can't believe it took me that long to see this...  granted, the error could have been a bit more helpful and perhaps there is a prob

[2017-10-10 13:54] KvanTTT commented on #251
Strict grammar is more better than weak in my opinion :)

[2017-10-10 15:45] psllc commented on #251
i agree the stricter grammar is better... but rather than the displayed error of:

"Unknown build error: "' used multiple times in set: SET"
"Unknown build error: "' used multiple times in set: SET"
"Unknown build error: "' used multiple times in set: SET"

it (should?) have shown:

"Unknown build error: "\t" used multiple times in set: SET"
"Unknown build error: "\r" used multiple times in set: S

[2017-10-12 19:44] compsri commented on #248
[ConsoleApplication3.zip](https://github.com/tunnelvisionlabs/antlr4cs/files/1380476/ConsoleApplication3.zip)
Hi,

Thank you for pointing out the issue in the grammar above! Adding EOF did solve the issue with the negative condition. However, moving forward with the actual grammar I'm running into another issue, which is even more puzzling to me.

I've basically extended the grammar from above sli

[2017-10-22 14:08] KvanTTT commented on #251
At least these warnings with escaped chars displayed correctly in the last ANTLR version:
https://github.com/antlr/antlr4/blob/master/tool-testsuite/test/org/antlr/v4/test/tool/TestSymbolIssues.java#L399

Unfortunately, warning location cannot be displayed correctly for now: https://github.com/antlr/antlr4/blob/4.7/tool/src/org/antlr/v4/automata/ATNOptimizer.java#L106

[2017-10-25 18:16] compsri opened #252 "NullRefException in auto-generated BaseVisitor class"
Hi,
Thank you for your help with #248 ! Adding EOF did solve the issue with the negative condition. However, moving forward with the actual grammar I'm running into another issue, which is even more puzzling to me.

I've basically extended the grammar from above slightly, and wrote a custom Visitor extending the BaseVisitor. However, somewhere in the auto-generated code for ANTLR, the return value

[2017-10-25 18:17] #248 closed

[2017-11-09 08:52] hunjixin opened #253 "can TSQL support lowercase？"

[2017-11-10 10:01] KvanTTT commented on #253
Sure, try this [AntlrCaseInsensitiveInputStream](https://github.com/KvanTTT/DAGE/blob/master/AntlrGrammarEditor/Runtimes/CSharpSharwell/AntlrCaseInsensitiveInputStream.cs) stream in runtime.

[2017-11-13 01:36] hunjixin commented on #253
@KvanTTT the code show that it transform all letter to lowercase But constants need to remain case sensitive

[2017-11-13 12:46] KvanTTT commented on #253
This stream influence only of lexer work. Symbols case is not changing in parse tree tokens.

[2017-11-14 02:13] rmsutton commented on #244
Having the same issue. Any plans to fix this?

[2017-11-14 06:54] hunjixin commented on #253
@KvanTTT thanks ,it works

[2017-11-19 14:40] Goldenstarc opened #254 "gui parsing tree"
how i can get graphical parsing tree in c# ?
is there any implement ?

[2017-11-20 23:02] lsalamon opened #255 "Event EnterOptionExplicitStmt don't fire"
<b>For exact line:</b>
<pre>Option Explicit</pre>

<b>Event EnterOptionExplicitStmt don't fire but fire event ExitOptionExplicitStmt.</b>

My env:
Antlr4                              {4.6.4}                                  VisualBasic6
Antlr4.CodeGenerator                {4.6.4}                                  VisualBasic6
Antlr4.Runtime                      {4.6.4}

[2017-11-20 23:03] lsalamon opened #256 "Event EnterBlockIfThenElse don't fire"
<b>For exact lines:</b>
<pre>
If sngNumberOfCredits < 12 Then
lblStatus = "PART-TIME STUDENT"
dblTuitionAmount = sngNumberOfCredits * 175
Else
lblStatus = "FULL-TIME STUDENT"
dblTuitionAmount = 2000
End If
</pre>
<b>Event EnterBlockIfThenElse don't fire but fire event ExitBlockIfThenElse.</b>

My env:
Antlr4 {4.6.4} VisualBasic6
Antlr4.CodeGenerator {4.6.4} VisualBasic6
Antlr4.Runtime {4.6.4} Visu

[2017-11-21 00:21] lsalamon opened #257 "Event EnterVsStruct don't fire"
<b>For exact lines:</b>
<pre>
Public Function CheckReg(ByVal sXML As String)
Dim oDocXML As MSXML2.DOMDocument40
oDocXML.loadXML (sXML)
End Function
</pre>
<b>Event EnterVsStruct don't fire but fire event ExitVsStruct.</b>

My env:
Antlr4 {4.6.4} VisualBasic6
Antlr4.CodeGenerator {4.6.4} VisualBasic6
Antlr4.Runtime {4.6.4} VisualBasic6

Visual Studio 2017 Community 15.4.4
Windows 10 (1709)

[2017-11-21 00:35] lsalamon opened #258 "Event EnterVsNot don't fire"
<b>For exact lines:</b>
<pre>
Public Function CheckBool(ByVal bVal As Boolean) As Boolean
    If Not bVal Is Nothing Then
       CheckBool = True
    Else
       CheckBool = False
    End If
End Function
</pre>

<b>Event EnterVsNot don't fire but fire event ExitVsNot.</b>

My env:
Antlr4 {4.6.4} VisualBasic6
Antlr4.CodeGenerator {4.6.4} VisualBasic6
Antlr4.Runtime {4.6.4} VisualBasic6

Visual Stud

[2017-11-21 00:47] lsalamon opened #259 "event EnterCaseCondExprValue don't fire"
<b>For exact lines:</b>
<pre>
Dim grade As String
Private Sub Compute_Click( )
grade=txtgrade.Text
Select Case grade
Case "A"
result.Caption="High Distinction"
Case "A-"
result.Caption="Distinction"
Case "B"
result.Caption="Credit"
Case "C"
result.Caption="Pass"
Case Else
result.Caption="Fail"
End Select
End Sub
</pre>
<b>Event EnterCaseCondExprValue don't fire but fire event ExitCaseCondExprValue

[2017-11-21 02:21] retailcoder commented on #259
I haven't worked on this repository, but I own a project that uses Antlr4, and it just so happens to be a project that parses and analyzes VBA (and soon VB6 in the VB6 IDE too) code.

Ref. #255, #256, #257 and #258. Exactly what grammar are you using? FYI [Rubberduck](https://github.com/rubberduck-vba/Rubberduck) v1.2, 1.3 and 1.4 were using a very similar to the VisualBasic6 grammar in the Antlr4

[2017-11-21 10:10] lsalamon commented on #259
Hi, i just using VB6.G4 from (https://github.com/antlr/grammars-v4/tree/master/vb6)

The simple code below has error reported:

<b>For exact lines:</b>
<pre>
Dim grade As String
Private Sub Compute_Click( )
grade=txtgrade.Text
Select Case grade
Case "A"
result.Caption="High Distinction"
Case "A-"
result.Caption="Distinction"
Case "B"
result.Caption="Credit"
Case "C"
result.Caption="Pass"
Case Else

[2017-11-21 12:48] retailcoder commented on #259
You sound like a broken record. I've read what you posted above and in the 4 identical previous issues. Posting more of the same isn't going to help identify what the problem is. What is the error? Does the parse tree have error nodes? In any case please stop spamming this repository with these "errors", first because this is the Antlr4 C# target repository, so issues are for the C# parser generat

[2017-11-21 13:13] #258 closed

[2017-11-21 13:14] #257 closed

[2017-11-21 13:14] #256 closed

[2017-11-21 13:14] #255 closed

[2017-11-21 13:46] sharwell commented on #259
@lsalamon I reopened just this one issue for continued discussion.

Can you post an example of the code where you created an instance of `VisualBasic6Parser` and ran the listener which resulted in the observed problems?

[2017-11-21 13:47] sharwell commented on #258
Duplicate of #259

[2017-11-21 13:47] sharwell commented on #257
Duplicate of #259

[2017-11-21 13:47] sharwell commented on #256
Duplicate of #259

[2017-11-21 13:47] sharwell commented on #255
Duplicate of #259

[2017-11-21 23:29] lsalamon commented on #259
Code to simulate issue:
<pre>
using Antlr4.Runtime;
using Antlr4.Runtime.Misc;
using System;
using System.Text;
using VisualBasic6;

namespace VB6Parser
{
    internal class EvalVisitor : VisualBasic6BaseListener
    {
        public override void EnterCaseCondExprValue([NotNull] VisualBasic6Parser.CaseCondExprValueContext context)
        {
            Console.WriteLine("Hit EnterCaseCondExprValu

[2017-11-22 02:14] retailcoder commented on #259
Ok, so... I have a repro for the issue at hand, a fix for @lsalamon's code, and maybe also a bug for @sharwell 😄

It appears a listener attached to a parser effectively doesn't invoke its `EnterSomeSpecificRule` virtual methods (they're not *events*, you `override` them)... however `EnterEveryRule` *is* invoked, and you could use it as a work-around to capture entering context types - this is the

[2017-11-22 02:41] retailcoder commented on #259
Looking at Rubberduck's `VBAModuleParser` code:

[code]
<sub>https://github.com/rubberduck-vba/Rubberduck/blob/next/Rubberduck.Parsing/VBA/VBAModuleParser.cs#L48-L51</sub>

...seems we're avoiding during-parse listeners other than `IAntlrErrorListener<IToken>` during this critical phase, and using a `ParseTreeWalker` to walk the parse tree after it's completely parsed. #FoodForThought

[2017-11-22 03:31] sharwell commented on #259
I had a feeling `AddParseListener` was involved. This is the documented behavior of the method:

https://github.com/tunnelvisionlabs/antlr4cs/blob/0b6de8686c26ce6f6ab9d11a3688873d6a513cf8/runtime/CSharp/Antlr4.Runtime/Parser.cs#L419-L451

[2017-11-22 03:32] #259 closed

[2017-11-22 03:32] sharwell commented on #259
Closing as **by design**.

[2017-11-25 16:32] skrilmps opened #260 "Runtime for C# 4"
Hello, is there an ANTLR runtime that is compatible with C# version 4.x?

I ask because I'm trying to get the ANTLR runtime working inside Unity, which only supports up to C# 4.

Thanks.

[2017-11-25 16:50] sharwell commented on #260
The ANTLR runtime has two version requirements:

* The runtime library is pre-built, so it depends only on the version of the .NET Framework (or other runtime). The NuGet package supports almost every version of .NET since .NET 2.0, and should not have a compatibility problem.
* The generated source code is C#, and thus could impose a limit on certain language features.

I am not currently aware o

[2017-11-25 17:04] skrilmps commented on #260
I was getting the error "Feature `null propagating operator' cannot be used because it is not part of the C# 4.0 language specification" in cases where the ? operator was being used.

[2017-11-25 17:22] sharwell commented on #260
@skrilmps The null propagating operators (`?.` and `?[`) are not used in the generated code:

https://github.com/tunnelvisionlabs/antlr4cs/blob/master/tool/resources/org/antlr/v4/tool/templates/codegen/CSharp/CSharp.stg

Can you describe the steps to reproduce this issue?

[2017-11-25 21:20] skrilmps commented on #260
Unfortunately I've been unable to reproduce that error message because I have a different one now.

Here are the steps I've taken towards getting ANTLR to work inside Unity (I am using Unity version 2017.2.0f3 on Mac OS X High Sierra):

1) Download Antlr4 C# runtime v4.7 from here: http://www.antlr.org/download/antlr-csharp-runtime-4.7.zip
2) Set Unity to build using .NET version 3.5 (my only othe

[2017-11-26 00:30] sharwell commented on #260
@skrilmps Based on those steps, it sounds like you are using the Antlr4.Runtime.Standard package. The original C# target created by me is published in the [Antlr4.Runtime](https://nuget.org/packages/Antlr4.Runtime) package, and the code generator for it is published in the [Antlr4.CodeGenerator](https://nuget.org/packages/Antlr4.CodeGenerator) package. Steps 1, 3, 4, 5, and 6 from your list above

[2017-11-26 01:26] skrilmps commented on #260
Thanks.  I'd already tried following your readme.  However many of the steps in the readme don't appear to work with my version of Visual Studio, so I moved to trying the command-line approach.  I am using the latest version of VS that I found for Mac, which is Visual Studio Community for Mac version 7.2.2

[2017-11-26 02:17] sharwell commented on #260
@skrilmps the code generator runs during the build and doesn't actually depend on Visual Studio at all. However, despite working with both msbuild and dotnet on Windows, there are a few remaining bugs that prevent the current release from working on non-Windows build systems.

[2017-11-26 03:03] skrilmps commented on #260
Thanks for your help!

[2017-11-26 03:03] skrilmps commented on #260
Thanks for your help!

[2017-11-26 22:55] skrilmps commented on #260
After some trial and error I was able to get ANTLR working on Unity on the Mac.  It required using both Visual Studio on Windows as well as Unity on Mac.  A little round-about, perhaps, but it works.  In case it's useful to anyone else, here are the steps I followed:

	1.	Install Visual Studio Community 2017 on Windows
	⁃	Install the folllowing:
	⁃	Visual Studio core editor (there by default)
	⁃	.

[2017-11-27 00:10] skrilmps commented on #260
In doing the above steps, I do still get some warnings, both from Unity and from Visual Studio.  They're all of the same type:

warning CS3021: `className' does not need a CLSCompliant attribute because the assembly is not marked as CLS-compliant

[2017-11-27 03:57] #260 closed

[2017-11-27 04:28] sharwell commented on #260
@skrilmps you need to add the following to your **AssemblyInfo.cs** file:

[code]

[2017-11-28 16:03] skrilmps commented on #260
OK thanks.  Warnings went away.

I updated my post above to include the extra steps.

[2017-11-30 10:19] NMSAzulX opened #261 "How to use it on vs2017?"

[2017-11-30 10:58] GeorgDangl commented on #261
You have to configure it as a build task:

[code]

[Example project](https://github.com/GeorgDangl/Dangl.Calculator)

[2017-11-30 11:26] NMSLanX commented on #261
Tks. And I can't find a template about Antlr4 on VS.

[2017-11-30 12:07] GeorgDangl commented on #261
Yeah I think there's no support yet, neither for the language extension (syntax highlighting) or templates (creating grammar / lexer files).

[2017-11-30 14:44] sharwell commented on #261
@NMSLanX @GeorgDangl There isn't a new extension uploaded, but you can download the latest build for the original source repository ([tunnelvisionlabs/LangSvcV2](https://github.com/tunnelvisionlabs/LangSvcV2)). Here is a link to the artifacts from the latest build:
https://ci.appveyor.com/project/sharwell/langsvcv2/branch/master/artifacts

The ANTLR support (both ANTLR 3 and 4) is in the extension

[2017-12-06 09:16] osre77 opened #262 "Can't build in VS2017 using V4.6.4: warning AC1000: Unknown build error: ..."
I get the following error:
\packages\Antlr4.CodeGenerator.4.6.4\build\Antlr4.CodeGenerator.targets(111,5): warning AC1000: Unknown build error: Das System kann die angegebene Datei nicht finden
Translation of last part: "The System can't find the specified file"
At this Location in the tragets file I see this task:
Antlr4ClassGenerationTask
It says the properties: Antlr4JavaExecutable, Antlr4Token

[2017-12-06 09:28] osre77 commented on #262
Never mind: Installed Java SDK V9 and now it works.
But the non JAVA Generator fallback seems not to work property.

[2017-12-06 09:28] #262 closed

[2017-12-06 10:55] ericlemes opened #263 "Generating Parser for C#"
Hi there,

Thank you very much for the great work here.

I'm currently trying to generate a C++ Parser using Antlr, to run in C#. I'm using VS2017. I've bumped into a lot of memory, then performance issues, which I'm trying to work around, and that's the reason I'm trying this C# target.

I've referenced the latest packages from NuGet (Antlr4, Antlr4.CodeGenerator and Antlr4.RunTime), all Sam Harw

[2017-12-06 11:22] KvanTTT commented on #263
Are you using a [Standard](https://github.com/antlr/antlr4/tree/4.7/runtime/CSharp) runtime or this runtime by @sharwell?

[2017-12-06 11:24] ericlemes commented on #263
I'm using @sharwell's runtime. At least this is my intention. It is the Antlr.Runtime 4.6.4, nuget package, by Sam Harwell.

[2017-12-06 11:25] KvanTTT commented on #263
In this case, you have to use both Sam parser generator and runtime itself.

[2017-12-06 11:27] ericlemes commented on #263
@KvanTTT, all the referenced packages are from @sharwell . The antlr tools I've used by command line is also the same version as used in the deployed nuget packages

[2017-12-08 15:26] lextm opened #264 "Some "warning"s should be promoted to "error"s"
I met some issue similar to #262 where some problems in the grammar prevent the parser from being generated, but note that such problems are reported as "warning", instead of "error".

I think they should be reported as "error" by default.

[2017-12-13 13:08] osre77 opened #265 "ng bracked stops parsing"

[2017-12-13 13:08] osre77 commented on #265
this sould have got a search

[2017-12-13 13:08] #265 closed

[2017-12-14 04:12] jamesqo opened #266 "Compiler errors in generated code: Character.isJavaIdentifierStart"
[code]

The C# compiler is giving me errors for all of the `Character` methods, saying the `Character` class doesn't exist. Also, `LA` isn't compiling because it should be named `La`.

[2017-12-15 05:10] lextm commented on #244
@rmsutton Set `<Antlr4JavaExecutable>` in your project to the `java` location (use `whereis java` to locate that).

[2017-12-19 22:34] thegoldenmule commented on #36
FWIW I have the same need: running ANTLR on iOS. There is related issue (#96) that also require JIT fixes.

[2017-12-31 20:10] lextm commented on #103
Reproduced in https://travis-ci.org/lextm/restructuredtext-antlr/builds/323655907
[code]
Luckily it does not fail the build, so can be safely ignored.

[2018-01-06 17:11] dhowe opened #267 "Support for Visual Studio Community"
Would be great if you could support (and include a simple test project) for current versions of Visual Studio Community (without the extension). I'm having all sorts of problems getting a simple ANTLR4 c# project running.

[2018-01-06 17:54] lextm commented on #267
Please be fair and show the "problems" you met.

I did a new project recently and never experienced "all sorts of problems", and note that my project is far more than "a simple ANTLR 4 C# project",

https://github.com/lextm/restructuredtext-antlr

[2018-01-06 18:01] dhowe commented on #267
Sorry about that -- I can be more detailed, just wasn't sure if you had worked with VS2017 Community. Should I write it up here, or in https://github.com/lextm/restructuredtext-antlr/issues ?

[2018-01-06 18:06] lextm commented on #267
You should describe the problems you met here, as the ANTLR C# runtime developers are all here watching.

In most cases, if you hit an error message, it should have been discussed somewhere in this repo (so GitHub search or Google site search should tell). If you happen to hit a very special issue, I believe it can be further investigated and resolved.

My project works fine in both Visual Studio

[2018-01-06 18:17] dhowe commented on #267
Ok, so I'm trying to setup a simple skeleton C# project with Antlr4 in Visual Studio Community Edition, which, as best I can tell, does not support extensions.

My attempt:

1. Open VS 2017 and create a new console project called 'TestAntlr'

![image](https://user-images.githubusercontent.com/737638/34642576-1722d26c-f350-11e7-8be8-d666faa5bba0.png)

2. Editor opens with the following Program.cs,

[2018-01-06 18:46] retailcoder commented on #267
FWIW I'm running R# in VS Community 2017, it absolutely supports extensions.

On Jan 6, 2018 13:17, "dhowe" <notifications@github.com> wrote:

[2018-01-06 18:48] lextm commented on #267
Well, just noticed you are using Visual Studio for Mac. Not a big deal, but it does require something more.

One trouble is that you need to manually edit the project file, to use `Antlr4` as Build action for your grammar file, and also specify Java path manually (as `Antlr4JavaExecutable`),
[code]
Your grammar file should also show an option to use CSharp as target language,
[code]

[2018-01-06 19:01] dhowe commented on #267
@retailcoder Re: extensions, I think the trouble is the platform (OS X), not the Community edition...

[2018-01-06 19:03] dhowe commented on #267
thanks @lextm is it possible for you to include the full .csproj file?

[2018-01-06 19:14] lextm commented on #267
@dhowe I gave you the whole repo above. Take your time.

[2018-01-07 05:18] dhowe commented on #267
Ok, so with those additions, and a bunch of warnings, I seem to be able to generate .cs files. Can someone help me to a) check these errors (below) and b) run my visitor from the IDE ?

[code]

[2018-01-07 07:50] dSerk commented on #267
oe whatever kissinse 
 "Everybody gets so much information all day long that they lose their common sense." -Gertrude Stein "So... The shit's about to match coordinates with the fan." -Alastair Reynolds

    On Saturday, January 6, 2018 2:14 PM, Lex Li <notifications@github.com> wrote:

 @dhowe I gave you the whole repo above. Take your time.—
You are receiving this because you are subscribed to t

[2018-01-08 06:12] dhowe commented on #267
So I'm now at the point where I can generate parser files from an external script, then compile/run my visitor from within Visual Studio.

If someone can help getting the .g4 file running from inside VS, that would be great

[2018-01-09 06:13] fqybzhangji commented on #261
@sharwell
Thank you for solving my problem

[2018-02-15 17:01] kevin-work commented on #243
So does this not build on non-Windows machines?

[2018-03-01 09:54] SABIH-YUSSUF commented on #84
You can add syntax highlighting to a language using only a textMate file in VS Code. I am working on a language extension for a language for which there is an antlr2 parser, I don't know if there is a tool that allows converting the lexer rules in a  .g file to a textMate file. As to error lists, I think the best way to implement it is to write a language server that interacts with the parser

[2018-03-03 22:58] rmsutton commented on #244
@lextm That fixed my issue. Thank you!

Is there any way to have this picked up by default?

[2018-03-11 13:04] timeraider4u commented on #84
Yes, you are right. As https://www.eclipse.org/community/eclipse_newsletter/2017/may/article3.php mentions, most LSP plugins for Eclipse also use TextMate for syntax highlighting. As Antlr can already generate code for syntax highlighting, I am not happy that syntax highlighting is not already supported through LSP because if it were, all dependencies could just be on the server side and the plug-

[2018-03-12 22:34] timeraider4u commented on #84
Yes, you are right. As https://www.eclipse.org/community/eclipse_newsletter/2017/may/article3.php mentions, most LSP plugins for Eclipse also use TextMate for syntax highlighting. As Antlr can already generate code for syntax highlighting, I am not happy that syntax highlighting is not already supported through LSP because if it were, all dependencies could just be on the server side, the plug-ins

[2018-04-05 19:01] DavidEthridgeDev opened #269 "I keep getting <EOF>"
`for(int i=0;i<parser.methods().ChildCount;i++)
            {
                Console.WriteLine(parser.texts().GetChild(i).GetText());
            }`

Input

What i want

OUTPUT

[2018-04-07 16:20] JocaPC opened #270 "Cannot include lexer grammar with custom constructor"
I have created two grammars:
- filter.g4 that has some lexical rules and a **custom** constructor
- apply.g4 that includes token definitions from filter.g4

When I generate Parser.cs for the second grammar (ApplyParser.cs) it copies everything from `@lexer::members { }`  in filter.g4 including constructor FilterLexer() and put everything in the ApplyParser class. When I compile project, I'm gettin

[2018-04-08 15:22] sharwell opened #271 "Code generation (Java tool) fails when _JAVA_OPTIONS is set"

[2018-04-08 17:40] lextm commented on #271
I commented in #103 about a similar issue. Reproduced in https://travis-ci.org/lextm/restructuredtext-antlr/builds/323655907
[code]
So should `unset _JAVA_OPTIONS` be a workaround in such cases?

[2018-04-08 18:06] sharwell commented on #271
For now that should work. I hope to provide two solutions to this in the next release:

* The C# code generator should work on Linux (no Java dependency at all)
* The Java code generator should avoid reporting an error for this situation

[2018-04-08 18:28] #10 closed

[2018-04-08 18:30] #261 closed

[2018-04-08 18:33] sharwell commented on #263
This usage is not supported. This target automatically generated code during the build process, which ensures that the generated code matches the grammar and the generated code matches the runtime library.

[2018-04-08 18:34] sharwell commented on #271
I've confirmed that 4.6.5-beta002 will allow the C# code generator to be used.

[2018-04-08 18:38] #243 closed

[2018-04-08 18:38] #267 closed

[2018-04-08 18:48] sharwell commented on #271
Decided to wait until next time to fix the `_JAVA_OPTIONS` handling, since the C# generator is expected to replace it anyway.

[2018-04-08 18:49] sharwell commented on #269
Do you have a call stack showing where the exception is thrown?

[2018-04-10 11:24] hans-mayerhuber opened #276 "VS2017: Error CS0246 The type or namespace name 'RuntimeException' could not be found"
Tried using ANTLR4 in VS2017. Followed instructions from [Readme.md](https://github.com/tunnelvisionlabs/antlr4cs).

But unfortunately I get following error when building:

Some additional information:
* Visual Studio Community 2017 Version 15.5.6
* .NET Framework 4.7.02558
* ANTLR4 Version 4.6.5-beta002

Do I miss something?

Please find attached the example project.
[TestAntlr4VS2017.zip](https:

[2018-04-10 11:45] hans-mayerhuber commented on #276
Sorry, I'm a fool!
My mistake was, that I've not checked, that the statement is form the grammar-file.

[2018-04-10 11:45] #276 closed

[2018-04-11 12:04] KvanTTT opened #277 "CancellationToken support"
Sometimes parsing works too much time especially for very big files with ambiguous grammars.

But we can stop parsing in .NET by several ways:

1. Use threads with timeouts and stop it by `Thread.About`.
2. Run a process with parsing task and kill the process if required.
3. Use `CancellationToken` with `ThrowIfCancellationRequested`.

The first way is not safe because of state corruption, see als

[2018-04-11 15:09] KvanTTT opened #278 "Support for super (base) classes in VS plugin"
I mean `--superClass` option in the tool for generating [JavaScript](https://github.com/antlr/grammars-v4/tree/master/javascript) and similar parsers.

Maybe also consider `--contextSuperClass` option.

[2018-04-11 15:18] KvanTTT opened #279 "Do VS tool generator options work?"
I tried to change `Custom Tool Namespace` to other name and set up `Abstract Grammar` to `true`. But options have not been saved.

[2018-04-12 02:25] sharwell commented on #277
This could probably be done efficiently by adding a check to the code that calculates the closure from an ATNConfigSet. This code is typically called frequently in long running operations but avoided on performance critical paths.

[2018-04-24 14:41] n9 opened #280 "Generated code of SCSS grammer does not compile"
I have downloaded SCSS grammar from https://github.com/antlr/grammars-v4/tree/master/scss.
I have installed the antlr nuget.
I was unable to install the VS extension (it was not in the list, I have VS 15.6.6). So I have modified the csproj manually:
[code]
Then I build the project. The build failed.

The generated file looks broken. Excerpt:

[code]

What I am doing wrong? Or it is a bug?

[2018-04-24 15:03] n9 commented on #280
The version of antlr4cs was the latest (4.6.4). I have tried this directly using the latest java version (4.7.1) and it is broken too. So maybe it is a bug in antlr4 core.

[2018-04-24 15:13] sharwell commented on #280
It's possible that this is fixed in a newer release, but in the one you have you should rename the `values` rule to work around the bug:

https://github.com/antlr/grammars-v4/blob/d38713d87a0db00615d248332f48618ddb011ef7/scss/ScssParser.g4#L282-L284

[2018-04-29 04:29] sharwell commented on #279
They should both work. However, I verified today that at least **Abstract Grammar** is not working as expected right now.

[2018-04-29 15:31] sharwell commented on #278
It looks like everything is in place for these options to work. Were you observing a particular problem?

[2018-04-29 15:33] #279 closed

[2018-04-30 19:29] KvanTTT commented on #278
My apologies, I resolved my problems :)

[2018-05-02 21:30] KvanTTT commented on #266
This issue is not related to runtime itself but related to grammars, particular Java. You have to rewrite actions to C# from Java.

[2018-05-03 00:13] #266 closed

[2018-05-03 07:19] KvanTTT opened #287 "Sync repository with ANTLR 4.7.1"
There are many useful improvements and fixes, that include the following ones:

* Full unicode support
* Additional lexer checks

[2018-05-03 12:41] sharwell commented on #287
This is a work in progress:

1. Finalizing the ANTLR 4.6.x work
    1. The new code generator (port of the original ANTLR 4 Tool to C#) needs to be verified in additional scenarios
    2. Additional validation for cross-platform code generation scenarios
1. New 4.7.x work
    1. Revert all breaking API changes (the C# releases here do not allow breaking API changes, so the new functionality will n

[2018-05-11 00:08] DmitriEst200 opened #288 "Can't integrate antlr 4 in the C# project again"
I got a problem with a project using language parser tool antlr. First when i created project and installed antlr4, then it had succesfully integrated with a grammar file ECMAScript.g4, but once i added antlr3 framework and under this yet one grammar file JSDeobfucs.g and after that i tried to integrate this in the existing project, then project stopped building and files of lexer, parser, listene

[2018-05-12 12:14] JakubLinhart opened #289 "Antlr4cs generates parser files without any change in grammar file"
**Steps to reproduce from Visual Studio:**
1. Open a g4 file in a project and do any change, save the g4 file.
2. Build the project from Visual Studio -> Antrl4Compile target generates *Lexer.cs, *Parser.cs, *Listener.cs, etc. files. This is OK and expected.
3. Add a new cs file to the project (no change in g4 file).
4. Build the project from Visual Studio again -> `Antlr4Compile` target runs unne

[2018-05-13 21:40] sharwell commented on #289
This was introduced in 5e40358823eb5a9115260b82c90bd5a41f6ea8d2 and fixed in bcad85aef14d1df6b0a4fefe6ee67fc4adbeb109 for the 4.6.5-beta001 release.

[2018-05-13 21:40] #289 closed

[2018-05-13 21:42] sharwell commented on #245
Duplicate of #289

[2018-05-13 21:42] #245 closed

[2018-05-13 21:42] sharwell commented on #245
(I added a description of the problem and fix in #289 before realizing this earlier issue was the same thing.)

[2018-05-13 21:43] #263 closed

[2018-05-17 07:14] KvanTTT commented on #288
ANTLR 3 and ANTLR 4 grammars are not compatible in general.

[2018-05-17 08:55] jvratanar opened #292 "Slow performance"
I am trying to parse some specific file format .px . I am a beginner with antlr4 and parser generators
in general. I would really appreciate it if you would have a look why is performance so slow.
I have the entire project at: https://github.com/jvratanar/Fpx
I suspect that the grammar is poorly written, but i unfortunately was not able to find the grammar
on the internet as this format is quite o

[2018-05-17 21:14] DmitriEst200 commented on #288
@KvanTTT what surprise. We talked together in the telegram chat literally today :) https://web.telegram.org/#/im?p=@CompilerDev

But i expected what Sam Harwell will help me with this question personally and talk to me: how to create own AST tree or change existing.

[2018-05-18 12:50] jvratanar commented on #292
I've removed ?? from the grammar. However the performance is still quite slow.
Is it possible to target the whole parsing in the range of 1-2 seconds?

[2018-05-18 15:26] sharwell commented on #288
The ECMAScript.g4 file has two build errors. On line 1420 and line 1429, the sequence `\[` should be changed to just `[` (the opening bracket does not need to be escaped within a character set, and ANTLR 4.6.4 will report an error if it's escaped).

[2018-05-22 18:59] FVillaf opened #293 "Error using CSharpGenerator"
When using the beta csharp generator with
`
<PropertyGroup>
    <Antlr4UseCSharpGenerato>True<Antlr4UseCSharpGenerator>
</PropertyGroup>
`

the generated files can only grow. If the files must be shrink, they appear with garbage at the end (from the previous content, apparently). It is like the file is not deleted before regenerated, else simply refilled. The only workaround I found was to delete

[2018-05-23 21:04] sharwell commented on #293
:memo: I'll have this fix in a release soon. In the meantime, a rebuild operation will correct the problem if it occurs.

[2018-05-25 06:36] #293 closed

[2018-05-25 06:55] sharwell commented on #293
@FVillaf Thanks so much for trying this out and reporting the issue. I just pushed 4.6.5-rc002 which corrects the issue.

[2018-05-28 13:28] FVillaf commented on #293
Thanks Sam, very good work!

[2018-05-29 08:00] jvratanar commented on #292
I switched to using UnbufferedCharStream and UnbufferedTokenStream and the parsinfg is still slow.
I commented out the visitor section and the parsing is still very slow, so i suspect there is something wrong
with the grammar. Do you have any tips on profiling this issue? When using VS Profiler the majority
of time is spent in the Fpx.Generated.FpxParser::data -> Antlr4.Runtime.Parser::Match metho

[2018-06-04 01:01] manofstick opened #296 "Losing ANTLR properties between 4.6.5-beta002 and 4.6.5-rc002"
Sorry if I'm being ignorant or missing something obvious :-|

Visual Studio 15.7.3
.NET Standard 2.0 Class Library
`.g4` being implicitly referenced by project (i.e. just by being in the directory, not included in `.csproj`)

I tried to update from "4.6.5-beta002" to "4.6.5-rc002" (did uninstall-package, install-package which just the affect in the project just of changing:

    <ItemGroup>

[2018-06-04 11:45] sharwell commented on #296
@manofstick I'm not able to reproduce this. Is there any way you can create a trivial GitHub repository that reproduces the issue?

[2018-06-04 20:27] manofstick commented on #296
@sharwell

Thanks for looking - I'll try and replicate within a small repo and then report back.

[2018-06-04 22:22] manofstick commented on #296
@sharwell

If I save and run this powershell script (from some safe place where you don't mind a directory being made - the script just creates two files, project file and grammer, runs `dotnet build` on it, then views the resultant assembly in ildasm just as an easy way to see what was in the output file):

	mkdir test

	cd test

	'<Project Sdk="Microsoft.NET.Sdk">
	  <PropertyGroup>
		<TargetFra

[2018-06-19 20:18] ChicagoDave opened #297 "VS 2017 Community"
I'm trying to get this running and weird things happen. My goal is to run the Cypher.g4 grammar through this to create a Cypher parser.

1. installed Antlr4 vsix
2. installed Antlr4.Runtime.Standard
3. Added Antlr4 Combined Grammar named Cypher.
4. Inserted cypher grammar definition from http://www.opencypher.org/resources

Results:
The Parser and Lexer c# files are created when I initially add th

[2018-06-20 04:59] sharwell commented on #297
Hi @ChicagoDave,

Everything should be working, but we should verify the specific items you have installed.

1. I'm assuming the VSIX is [ANTLR Language Support](https://marketplace.visualstudio.com/items?itemName=SamHarwell.ANTLRLanguageSupport)
2. The Antlr4.Runtime.Standard package is not created or supported by me. I don't make any particular effort to support it as a code generation target be

[2018-07-04 05:16] andrewsav-datacom commented on #263
@sharwell does this mean that Visual Studio is a requirement and there is no way to use this with other dotnet IDEs?

[2018-07-04 14:33] lextm commented on #263
@andrewsav-datacom Have you tried? So far all major .NET IDE products use MSBuild as build engine, and they (including Rider, and VS for Mac) work well with ANTLR.

[2018-07-04 19:54] AndrewSav commented on #263
@lextm yes, cannot get it to work with VS Code, getting the error as in OP and https://marketplace.visualstudio.com/items?itemName=mike-lischke.vscode-antlr4

[2018-07-04 20:16] AndrewSav commented on #263
May be version matrix can help, so that users know which version of runtime correspond to which version of official antlr tools. I'm usually able to figure out most issues like this on my own, but in this case I told myself, okay, let me troubleshoot, let me exclude the middleman (VSCode pluging) and go to the basics, let's generate with antlr and reference the execution engine. I tried about half

[2018-07-04 20:56] lextm commented on #263
@AndrewSav You should report any issue with a VSCode extension to its authors, and maybe put a link here. It would be much sooner for them to figure out what's wrong, than bothering yourself.

ANTLR does not use too much MSBuild magic, as even command line build should work flawlessly. But I don't assume ANTLR a small project to get started all by yourself.

[2018-07-05 19:44] AndrewSav commented on #263
@sharwell cool, thanks, gotcha. My mistake was that I assumed that this is the repo with the official runtime. I knew that your code generation was different from official, but I failed to realize that runtimes where different too. I thought that both code generation targets work with the same one and only runtime, that is hosted in this repo. Now, when I realized that it's not, everything else fe

[2018-07-05 19:52] lextm commented on #263
@AndrewSav that's what exactly you should report to the VSCode extension author.

Check https://github.com/mike-lischke/vscode-antlr4/issues/39 and you can see you are not the only one who don't know how to get started.

[2018-07-12 09:42] jvratanar opened #298 "Unable to parse only one part of the file"
Is it possible to parse only let's say first half of the file with antlr4? I am parsing large files and am using UnbufferedCharStream, UnbufferedTokenStream. I am not bulding parse tree and am using parse actions instead of visitor/listener patterns. With these i was able to save significant amount of RAM and parse speed.

However it still takes around 15s to parse the whole file. The parsed file

[2018-07-12 12:37] jvratanar commented on #298
Is it possible to give an example of how to divide the file into smaller units ?
I would not want to create multiple files on disk from one big one as parsing will be done on a web server as a part of file upload validation.

[2018-07-12 13:18] sharwell commented on #298
@jvratanar The process would be highly application-specific, but the basic assumption to operate under is ANTLR will buffer all of the data available via `StreamReader.ReadToEnd`. The unbuffered char streams "try" to avoid buffering that much data, but in any decision of parsing accuracy vs. minimal buffering, ANTLR will always choose parsing accuracy.

A custom `Stream` implementation should allo

[2018-07-13 05:48] jvratanar commented on #298
I thought UnbufferedCharStream and UnbufferedTokenStream were the way to go when dealing with large files as it is recommended in the ANTLR book, page 241, 245.
I understand the process is application-specific but i would really appreciate it if there are any examples
of dividing input into smaller units or manually implementing ICharStream and/or ITokenStream on the
net. I was not able to find an

[2018-07-13 09:48] jvratanar commented on #298
I was able to solve it like this:
[code]

[2018-08-09 21:56] AashrayAnand opened #300 "Generated Parser/Lexer Files in Visual Studio Failing"
I am currently using:

- ANTLR4.Runtime.Standard (by Sam Harwell, Terrence Parr) version 4.7.1
-ANTLR4.CodeGenerator (by Sam Harwell, Terrence Parr) version 4.6.5-rc002

to integrate ANTLR into a visual studio project. I have been able to successfully integrate an existing grammar into a different project until now by generating ANTLR C# files from the command line, and moving them into my Visual

[2018-08-10 01:09] lextm commented on #300
https://github.com/tunnelvisionlabs/antlr4cs/releases

You should choose a release number from GitHub, and then use the packages from the same release.

[2018-08-10 04:58] sharwell commented on #300
Antlr4.CodeGenerator produces code for the Antlr4.Runtime runtime library. The Antlr4.Runtime.Standard library is maintained by a different person and is not compatible with the build-time code generation tools I maintain.

[2018-08-11 16:13] heck4 commented on #198
There is a workaround to fix the NuGet package, so it works on older Visual Studio versions.

https://danlimerick.wordpress.com/2011/10/01/getting-around-nugets-external-package-dependency-problem/

Basically the package needs to have either a lib or content folder, with a file in it.  In the article above, he adds a InstallationDummyFile.txt, and then deletes it from the project and folder using

[2018-08-13 00:33] sharwell commented on #198
@heck4 thanks for the links

[2018-08-22 13:17] KvanTTT opened #301 "Assign token name to generated ParserRuleContext for automatically resolved tokens"
See https://github.com/antlr/antlr4/issues/2347 It's an actual for all runtimes.

[2018-08-29 21:25] sirgru opened #303 "Files Not Generated On .NET Core"
I can get the files generated properly on .NET Framework, but not .NET core. Here is my .csproj.

[code]

[2018-08-30 01:28] sharwell commented on #303
Duplicate of #296. This is pretty serious and I hope to make progress on it this week.

[2018-08-30 01:28] #303 closed

[2018-08-31 12:52] ViceIce commented on #296
Rename `TargetFramework` to `TargetFrameworks` works for mee too. :thinking:

[2018-09-06 13:32] kl1mm commented on #247
You forgot to include your bugfix in the release 4.6.5 - it's included in beta0001 and rc002

[2018-09-06 14:55] sharwell commented on #247
@kl1mm The bug fix for the issue described in https://github.com/tunnelvisionlabs/antlr4cs/issues/247#issuecomment-328124229 was included in the 4.6.5 release. If you are experiencing similar symptoms, it would be due to something else so we would start with creating a new issue for that. 😄

[2018-09-19 00:05] lukemurray commented on #247
@sharwell not sure if this is related. But I had these packages

[code]

[2018-09-19 10:56] sharwell commented on #247
@lukemurray You need to add the following somewhere in your project:

[code]

I normally place this in an **AssemblyInfo.cs** file, which under the new project system might *only* contain the attribute here since the others are often generated during the build for these projects.

[2018-09-19 14:11] rooks opened #305 "Build errors when upgrading from 4.6.5-rc002 to 4.6.5"
I'm currently using `4.6.5-rc002` version. Everything is working fine. Her is my simple project:
[code]

However when I'm trying to upgrade to latest stable `4.6.5` I'm getting a lot of build errors that could be divided in 2 categories.

1.  a lot of `Error	CS0246	The type or namespace name 'Antlr4' could not be found (are you missing a using directive or an assembly reference?)`

2. "duplicate i

[2018-09-19 19:11] sharwell commented on #305
Rather than use `<Antlr4 Include="...">`, you'll want to use `<Antlr4 Update="...">`. These files are now processed by default (similar to how .cs files are processed without including them explicitly), so you don't have to include them anymore. You only need the `Update` lines if you are making changes to the default metadata values (which you are - you're using a modified namespace, etc.).

As a

[2018-09-19 20:06] rooks commented on #305
I've tried both options before actually and still got errors. Now I've checked it again and it seems that "duplicate items" errors are gone but "Antlr4 namespace" errors are still there for both options (`Update` or `EnableDefaultAntlrItems`). To fix it I need to manually reference transitive `Antlr4.Runtime` package.

Here is updated project that works:
[code]

[2018-09-19 20:06] #305 closed

[2018-09-19 22:12] sharwell commented on #305
I'm guessing this was a transient problem. I just verified that the transitive reference is correctly defined in the Antlr4 package, so it was probably a case where NuGet messed up the local restore operation, and adding the new package reference caused it to retry.

[2018-09-20 11:29] flaksirus commented on #247
I have the same problem with really simple project (similar to my primary project): [testAntlr.zip](https://github.com/tunnelvisionlabs/antlr4cs/files/2400815/testAntlr.zip)
Problem discovered when I tried to use dotnet core sdk 2.1 instead of 2.0 and after updating nuget package from 4.6.4 to 4.6.5 (on 4.6.4 there were another build errors).
The errors are similar on both platforms windows and li

[2018-09-20 11:54] sharwell commented on #247
@flaksirus Your issue is caused by the new feature that automatically includes grammar files when using the new project system, the same way C# source files are automatically included. Changing instances of `<Antlr4 Include="..."` in your project file to `<Antlr4 Update="..."` will fix the issue. Or you can disable the feature altogether by setting the `EnableDefaultAntlrItems` property as describ

[2018-09-20 12:07] flaksirus commented on #247
Indeed, I tried it before and it didn't worked for me, but now I'm realized that I haven't cleared my project before... So thaks for your great project and support!

[2018-09-21 01:08] sharwell commented on #247
@lukemurray The attribute is included in the generated code because it's required for users who are compiling with `[assembly: CLSCompliant(true)]`. Explicitly setting the attribute to false is similar to ignoring it, except the compiler will be faster and it won't emit warnings if you include the attribute on types and/or members. I wish it was the default but for now it's something that needs to

[2018-09-21 08:15] maxime645 opened #306 "Install CodeGenerator 4.6.5"
I am trying to upgrade the Antlr version I am working with in my project. Upgrade is successfull till version 4.6.4.
When I try to install 4.6.5 or one of the beta or rc version, the installation is always rolling back with error message

I haven't found any documentation on this message when installing a Nuget Package.
I first thought about a project problem so I tried on a simple "Hello World" c

[2018-09-25 16:44] chrisc89 commented on #306
I'm having the same problem with trying to install 4.6.5 in VS 2015 and .NET 4.6.1. I can install it via 2017 but still get this as a build error in VS 2015, which some developers on my project are using still.

[2018-09-25 21:58] sharwell commented on #306
Thanks, I'll try to get this fixed this weekend.

[2018-10-01 17:57] #306 closed

[2018-10-01 23:45] sharwell commented on #306
@maxime645 Can you try 4.6.6-rc001 and let me know if the problem is resolved? Once I get some additional validation I can push the 4.6.6 stable update.

[2018-10-02 07:00] maxime645 commented on #306
The release did solve my problem, thank you.

[2018-10-02 11:04] chrisc89 commented on #306
Thanks, i can confirm this has solved it for me also.

[2018-10-04 13:13] maxime645 opened #309 "Generate RuleStack"
In v4.6.1-beta001, you modified the following lines in DefaultErrorStrategy.Sync(Parser recognizer) :
[code]
Into :
[code]
This causes a change in the behavior of how one of our error is detected in our extension of DefaultErrorStrategy. Instead of being detected on the top rule, it is detected on the bottom one. This results in the RuleStack being not complete. The thing is that I need all the in

[2018-10-04 13:55] sharwell commented on #309
The original bug report was antlr/antlr4#1545, which was fixed in antlr/antlr4#1546. Follow-up bugs antlr/antlr4#1931 and antlr/antlr4#1922 contain similar information to what you present here.

The original behavior was not correct in certain cases. It's likely that in your scenario, a valid path existed through Rule2 and Rule3, and therefore the error reported in 4.5.3 was objectively incorrect

[2018-10-08 09:57] maxime645 commented on #309
Thanks for the quick answer and for the links. I will then keep the new version.

I still have an underlying issue, though. At some point when I am reading a line and encountering an Unwanted Token, the following message is shown:
`Syntax error : extraneous input 'USING' expecting {separator, numeric literal, symbol, statement starting keyword, keyword}`
And then stops reading the line and goes to

[2018-10-12 21:24] awbushnell opened #310 "Problems with Antlr4 and Visual Studio 2017"
Hello, we are experiencing build issues in our CSProject when we build using the Visual Studio 2017 IDE.  Specifically, what is noticed is that the intermediate files generated by Antlr are getting cleaned but not regenerated during incremental builds? If we "touch" the grammar file, they come back and we get a successful build but next change to any other file again loses them...  Our csproj has

[2018-10-12 21:37] sharwell commented on #310
This is a new one for me.

What version of Visual Studio 2017 are you using?

[2018-10-12 21:38] awbushnell commented on #310
I am on the latest, 15.8.7

[2018-10-12 21:40] sharwell commented on #310
Can you test the 4.6.6-rc001 release and let me know if the problem is resolved? If not, can you enable the new code generator with 4.6.6-rc001 as described in [these release notes](https://github.com/tunnelvisionlabs/antlr4cs/releases/tag/v4.6.5-beta001) and let me know if the problem is resolved?

[2018-10-12 21:57] awbushnell commented on #310
Ok, I updated to that release and now the issue seems to have gone away... At least the steps to replicate are no longer happening.. I will stay on this version and keep my eyes peeled and thanks!!!!!!!!

[2018-10-12 22:03] sharwell commented on #310
@awbushnell Thanks! I'm hoping to release that update as a stable patch release soon. I would recommend using the updated C# code generator since it's much faster than the old one.

[2018-10-12 22:08] awbushnell commented on #310
@sharwell Ok, I followed the steps to enable the C# generator.. will see how it goes.. thanks!

[2018-10-22 14:37] awbushnell commented on #310
@sharwell we are still experiencing issues with the Antlr' task/code generator and Visual Studio 2017... Do you have other users on that platform and have they been successful? Have you tried this?  I am finding flaky build behaviour where somewhat (seemingly) randomly the generated cs files go missing and the build fails. We have seen CLEAN builds fail etc. and am wondering if maybe we have a set

[2018-10-22 15:11] awbushnell commented on #310
@sharwell  I think I see what might be going on... The import of the targets files in project is conditional on the presence of the antlr target files.. So what I see going on (at least for me) is that the first time I open our Solution, the packages do not exist as it is on a clean system/build etc.. Then when I build, nuget packages get downloaded and the build proceeds.  However, what appears t

[2018-10-22 16:55] awbushnell opened #311 "ERROR AC100 encountered, Visual Studio 2017"
Hello, we are using version 4.6.6-rc001 and one of our developers is encountering the following error both command line and in the IDE:

packages\Antlr4.CodeGenerator.4.6.6-rc001\build\Antlr4.CodeGenerator.targets(132,5): error
AC1000: Unknown build error: The system cannot find the file specified [CSProjectDir\OurProject.csproj]

However, the csproj referred to does exist where the error message

[2018-10-26 07:53] boydc2014 opened #312 "Build failed for missing reference in Visual Studio 2017"
I'm following the instructions all the way down:

Install java
Install ANTLR language support
Install nuget package (Antlr4 4.6.6-rc001, only this one)
Create new item => combied grammer

Then build failed, plenty of errors (85) for missing references:

Those errors come from the generated files in obj folder, so I think the generation process is good, looks sth is wrong with build process, but my

[2018-10-26 08:07] boydc2014 commented on #312
Update: manually add the dll reference solve that, the project file now looks like this
[code]
not looks good, any suggestions？

[2018-10-26 13:01] lextm commented on #312
Please delete your manual reference to `Antlr4.Runtime` and add a package reference to `Antlr4.Runtime` instead.

[2018-10-27 05:57] sharwell commented on #312
💭 I'm actually not sure how meta-packages are supposed to be published these days so they are correctly propagated to packages. Here's what I know works:

[code]